.version.___2 /* version checker */
{
	color: #00000F;
	background-color: #34A331;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 1458px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -99px;
	width: 0.01px;
}

#pu1156
{
	width: 0.01px;
	padding-bottom: 103px;
	margin-left: -100px;
}

#u1156
{
	z-index: 151;
	height: 103px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.97);
	-pie-background: rgba(255,255,255,0.97);
}

#u1156-bw
{
	z-index: 151;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -36px;
}

#u1159
{
	z-index: 154;
	width: 161px;
	background-color: transparent;
	position: fixed;
	top: -26px;
	left: 10px;
}

#u1190
{
	z-index: 184;
	width: 93px;
	height: 52px;
	position: fixed;
	top: -10px;
	left: 662px;
}

#menuu1161
{
	z-index: 156;
	width: 354px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: -2px;
	left: 670px;
}

#u1176
{
	width: 87px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1177
{
	width: 87px;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
}

#u1177:hover
{
	background-color: transparent;
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1177:active
{
	background-color: transparent;
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1179
{
	height: 28px;
	width: 47px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 20px;
	background: url("../images/u1179.png") no-repeat 0px 0px;
}

#u1177:hover #u1179
{
	background: url("../images/u1179-r.png") no-repeat 0px 0px;
}

#u1177:active #u1179
{
	background: url("../images/u1179-m.png") no-repeat 0px 0px;
}

#u1177.MuseMenuActive #u1179
{
	background: url("../images/u1179-a.png") no-repeat 0px 0px;
}

.hidpi #u1179
{
	background-image: url("../images/u1179_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1177:hover #u1179
{
	background-image: url("../images/u1179-r_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1177:active #u1179
{
	background-image: url("../images/u1179-m_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1177.MuseMenuActive #u1179
{
	background-image: url("../images/u1179-a_2x.png");
	background-size: 47px 28px;
}

#u1162
{
	width: 87px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 89px;
}

#u1163
{
	width: 87px;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
}

#u1166
{
	height: 28px;
	width: 47px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 20px;
	background: url("../images/u1166.png") no-repeat 0px 0px;
}

#u1163:hover #u1166
{
	background: url("../images/u1166-r.png") no-repeat 0px 0px;
}

#u1163:active #u1166
{
	background: url("../images/u1166-m.png") no-repeat 0px 0px;
}

#u1163.MuseMenuActive #u1166
{
	background: url("../images/u1166-a.png") no-repeat 0px 0px;
}

.hidpi #u1166
{
	background-image: url("../images/u1166_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1163:hover #u1166
{
	background-image: url("../images/u1166-r_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1163:active #u1166
{
	background-image: url("../images/u1166-m_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1163.MuseMenuActive #u1166
{
	background-image: url("../images/u1166-a_2x.png");
	background-size: 47px 28px;
}

#u1169
{
	width: 87px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 178px;
}

#u1172
{
	width: 87px;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
}

#u1163:active,#u1172:active
{
	background-color: transparent;
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1175
{
	height: 28px;
	width: 47px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 20px;
	background: url("../images/u1175.png") no-repeat 0px 0px;
}

#u1172:hover #u1175
{
	background: url("../images/u1175-r.png") no-repeat 0px 0px;
}

#u1172:active #u1175
{
	background: url("../images/u1175-m.png") no-repeat 0px 0px;
}

#u1172.MuseMenuActive #u1175
{
	background: url("../images/u1175-a.png") no-repeat 0px 0px;
}

.hidpi #u1175
{
	background-image: url("../images/u1175_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1172:hover #u1175
{
	background-image: url("../images/u1175-r_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1172:active #u1175
{
	background-image: url("../images/u1175-m_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1172.MuseMenuActive #u1175
{
	background-image: url("../images/u1175-a_2x.png");
	background-size: 47px 28px;
}

#u1183
{
	width: 87px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 267px;
}

#u1186
{
	width: 87px;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
}

#u1177.MuseMenuActive,#u1186.MuseMenuActive
{
	background-color: transparent;
	border-radius: 0px;
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1188-4
{
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 20px;
}

#u1188-4_clip
{
	overflow: hidden;
	width: 47px;
	height: 28px;
	vertical-align: top;
}

#u1188-4_img
{
	display: block;
}

#u1463
{
	z-index: 152;
	width: 1024px;
	background-color: transparent;
	position: fixed;
	top: 65px;
	left: 0px;
}

#u1457
{
	z-index: 131;
	width: 1009px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	background-color: transparent;
	border-radius: 5px;
	margin-left: 8px;
	margin-top: 19px;
	position: relative;
}

#u1205-4
{
	z-index: 16;
	display: block;
	vertical-align: top;
	margin-left: 35px;
	margin-top: 51px;
	position: relative;
}

#u2372
{
	z-index: 150;
	width: 283px;
	height: 3px;
	background-color: #8C6239;
	margin-left: 35px;
	margin-top: 6px;
	position: relative;
}

#slideshowu1206
{
	z-index: 20;
	width: 0.01px;
	height: 452px;
	margin-left: 35px;
	margin-top: 24px;
	position: relative;
}

#u1214
{
	position: absolute;
	width: 724px;
	height: 451px;
	background-color: transparent;
	top: 1px;
	left: 204px;
}

#u1214popup
{
	z-index: 21;
}

#u1215
{
	z-index: 22;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u1215_img
{
	margin-left: -39px;
	margin-right: -39px;
}

#u2157
{
	z-index: 24;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u2157_img
{
	margin-top: -13px;
	margin-bottom: -13px;
}

#u2166
{
	z-index: 26;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u2166_img
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u2175
{
	z-index: 28;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u2184
{
	z-index: 30;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u2175_img,#u2184_img
{
	margin-top: -13px;
	margin-bottom: -14px;
}

#u2193
{
	z-index: 32;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u2193_img
{
	margin-top: -24px;
	margin-bottom: -24px;
}

#u2202
{
	z-index: 34;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u2211
{
	z-index: 36;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u2211_img
{
	margin-top: -31px;
	margin-bottom: -1px;
}

#u2220
{
	z-index: 38;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u2229
{
	z-index: 40;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u2238
{
	z-index: 42;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u2238_img
{
	margin-top: -5px;
	margin-bottom: -26px;
}

#u2247
{
	z-index: 44;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u2247_img
{
	margin-top: -23px;
	margin-bottom: -22px;
}

#u2256
{
	z-index: 46;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u2256_img
{
	margin-top: -9px;
	margin-bottom: -9px;
}

#u2265
{
	z-index: 48;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u2265_img
{
	margin-top: -8px;
	margin-bottom: -8px;
}

#u2274
{
	z-index: 50;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u2274_img
{
	margin-top: -22px;
	margin-bottom: -21px;
}

#u2283
{
	z-index: 52;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u2283_img
{
	margin-top: -3px;
	margin-bottom: -42px;
}

#u2292
{
	z-index: 54;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u2292_img
{
	margin-top: -46px;
	margin-bottom: -46px;
}

#u2301
{
	z-index: 56;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u2301_img
{
	margin-top: -17px;
	margin-bottom: -16px;
}

#u2310
{
	z-index: 58;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u2319
{
	z-index: 60;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u1457 .clip_frame,#u1215 .clip_frame,#u2157 .clip_frame,#u2166 .clip_frame,#u2175 .clip_frame,#u2184 .clip_frame,#u2193 .clip_frame,#u2202 .clip_frame,#u2211 .clip_frame,#u2220 .clip_frame,#u2229 .clip_frame,#u2238 .clip_frame,#u2247 .clip_frame,#u2256 .clip_frame,#u2265 .clip_frame,#u2274 .clip_frame,#u2283 .clip_frame,#u2292 .clip_frame,#u2301 .clip_frame,#u2310 .clip_frame,#u2319 .clip_frame
{
	-webkit-border-radius: 5px 5px 5px 5px;
}

#u1215_clip,#u2157_clip,#u2166_clip,#u2175_clip,#u2184_clip,#u2193_clip,#u2202_clip,#u2211_clip,#u2220_clip,#u2229_clip,#u2238_clip,#u2247_clip,#u2256_clip,#u2265_clip,#u2274_clip,#u2283_clip,#u2292_clip,#u2301_clip,#u2310_clip,#u2319_clip
{
	overflow: hidden;
	width: 724px;
	height: 451px;
}

#u2202_img,#u2220_img,#u2229_img,#u2310_img,#u2319_img
{
	margin-top: -16px;
	margin-bottom: -16px;
}

#u1207
{
	position: absolute;
	width: 97px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 10px;
	top: 11px;
}

#u1207popup
{
	z-index: 62;
}

#u1208
{
	z-index: 63;
	width: 36px;
	height: 27px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 7px;
}

#u2160
{
	z-index: 65;
	width: 36px;
	height: 27px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 53px;
}

#u1208.SSSlideLinkSelected,#u2160.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 36px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2169
{
	z-index: 67;
	width: 36px;
	height: 27px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 7px;
}

#u2169_img
{
	margin-left: -4px;
	margin-right: -3px;
}

#u2178
{
	z-index: 69;
	width: 36px;
	height: 27px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 53px;
}

#u2169.SSSlideLinkSelected,#u2178.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 36px;
	height: 27px;
	min-height: 0px;
	margin: 37px -10000px 0px 0px;
}

#u2187
{
	z-index: 71;
	width: 36px;
	height: 27px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 7px;
}

#u2196
{
	z-index: 73;
	width: 36px;
	height: 27px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 53px;
}

#u2187.SSSlideLinkSelected,#u2196.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 36px;
	height: 27px;
	min-height: 0px;
	margin: 74px -10000px 0px 0px;
}

#u2205
{
	z-index: 75;
	width: 36px;
	height: 27px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 7px;
}

#u2214
{
	z-index: 77;
	width: 36px;
	height: 27px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 53px;
}

#u2205.SSSlideLinkSelected,#u2214.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 36px;
	height: 27px;
	min-height: 0px;
	margin: 111px -10000px 0px 0px;
}

#u2223
{
	z-index: 79;
	width: 36px;
	height: 27px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
	left: 7px;
}

#u2232
{
	z-index: 81;
	width: 36px;
	height: 27px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
	left: 53px;
}

#u2223.SSSlideLinkSelected,#u2232.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 36px;
	height: 27px;
	min-height: 0px;
	margin: 148px -10000px 0px 0px;
}

#u2241
{
	z-index: 83;
	width: 36px;
	height: 27px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
	left: 7px;
}

#u2250
{
	z-index: 85;
	width: 36px;
	height: 27px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
	left: 53px;
}

#u2241.SSSlideLinkSelected,#u2250.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 36px;
	height: 27px;
	min-height: 0px;
	margin: 185px -10000px 0px 0px;
}

#u2259
{
	z-index: 87;
	width: 36px;
	height: 27px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 222px;
	left: 7px;
}

#u2268
{
	z-index: 89;
	width: 36px;
	height: 27px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 222px;
	left: 53px;
}

#u2259.SSSlideLinkSelected,#u2268.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 36px;
	height: 27px;
	min-height: 0px;
	margin: 222px -10000px 0px 0px;
}

#u2259_img,#u2268_img
{
	margin-left: -3px;
	margin-right: -3px;
}

#u2277
{
	z-index: 91;
	width: 36px;
	height: 27px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 259px;
	left: 7px;
}

#u2286
{
	z-index: 93;
	width: 36px;
	height: 27px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 259px;
	left: 53px;
}

#u2277.SSSlideLinkSelected,#u2286.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 36px;
	height: 27px;
	min-height: 0px;
	margin: 259px -10000px 0px 0px;
}

#u2196_img,#u2250_img,#u2286_img
{
	margin-left: -2px;
	margin-right: -1px;
}

#u2295
{
	z-index: 95;
	width: 36px;
	height: 27px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 296px;
	left: 7px;
}

#u2304
{
	z-index: 97;
	width: 36px;
	height: 27px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 296px;
	left: 53px;
}

#u2295.SSSlideLinkSelected,#u2304.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 36px;
	height: 27px;
	min-height: 0px;
	margin: 296px -10000px 0px 0px;
}

#u2313
{
	z-index: 99;
	width: 36px;
	height: 27px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 333px;
	left: 7px;
}

#u2277_img,#u2304_img,#u2313_img
{
	margin-left: -2px;
	margin-right: -2px;
}

#u2322
{
	z-index: 101;
	width: 36px;
	height: 27px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 333px;
	left: 53px;
}

#u2313.SSSlideLinkSelected,#u2322.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 36px;
	height: 27px;
	min-height: 0px;
	margin: 333px -10000px 0px 0px;
}

#u2160_clip,#u2169_clip,#u2178_clip,#u2187_clip,#u2196_clip,#u2205_clip,#u2214_clip,#u2223_clip,#u2232_clip,#u2241_clip,#u2250_clip,#u2259_clip,#u2268_clip,#u2277_clip,#u2286_clip,#u2304_clip,#u2313_clip,#u2322_clip
{
	overflow: hidden;
	width: 36px;
	height: 27px;
}

#u2160_img,#u2178_img,#u2187_img,#u2205_img,#u2214_img,#u2223_img,#u2232_img,#u2241_img,#u2322_img
{
	margin-left: -2px;
	margin-right: -3px;
}

#u1222-14
{
	position: absolute;
	width: 10px;
	min-height: 431px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.2);
	border-radius: 5px 0px 0px 5px ;
	padding: 10px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 1px;
	left: 204px;
	-pie-background: rgba(255,255,255,0.2);
}

#u1222-14popup
{
	z-index: 103;
}

#u1222,#u1222-2,#u1222-3,#u1222-4,#u1222-5,#u1222-6,#u1222-7,#u1222-8,#u1222-9,#u1222-10
{
	line-height: 20px;
}

#u1228-14
{
	position: absolute;
	width: 10px;
	min-height: 432px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.2);
	border-radius: 0px 5px 5px 0px ;
	padding: 10px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 898px;
	-pie-background: rgba(255,255,255,0.2);
}

#u1228-14popup
{
	z-index: 117;
}

#u1228,#u1228-2,#u1228-3,#u1228-4,#u1228-5,#u1228-6,#u1228-7,#u1228-8,#u1228-9,#u1228-10
{
	line-height: 20px;
	color: #999999;
}

#u1222-12,#u1228-12
{
	font-size: 24px;
	line-height: 34px;
	color: #FFFFFF;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2373-4
{
	z-index: 133;
	display: block;
	vertical-align: top;
	margin-left: 35px;
	margin-top: 42px;
	position: relative;
}

#u2374
{
	z-index: 137;
	width: 283px;
	height: 3px;
	background-color: #8C6239;
	margin-left: 35px;
	margin-top: 6px;
	position: relative;
}

#pu2375
{
	width: 0.01px;
	margin-left: 155px;
	margin-top: 24px;
}

#u2375
{
	z-index: 138;
	width: 314px;
	height: 193px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(127,127,127,0.5),0px 0px 5px rgba(127,127,127,0.5);
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/anniversary-ieu2375-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/anniversary.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

.hidpi #u2375
{
	background-image: url("../images/anniversary_2x.jpg");
}

#u2382
{
	z-index: 139;
	width: 314px;
	height: 193px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(127,127,127,0.5),0px 0px 5px rgba(127,127,127,0.5);
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	left: 419px;
	background: transparent url("../images/dscf3401.jpg") no-repeat center center;
	background-size: cover;
}

#u2375:hover,#u2382:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-width: 3px;
	border-style: solid;
	border-color: #F15A24;
	width: 311px;
	height: 190px;
	min-height: 0px;
	margin: -1px -10002px -2px -1px;
	background-size: cover;
}

.hidpi #u2382
{
	background-image: url("../images/dscf3401_2x.jpg");
}

#pu2389
{
	width: 0.01px;
	margin-left: 155px;
	margin-top: 7px;
}

#u2389
{
	z-index: 140;
	width: 3px;
	height: 38px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
}

#u2391-4
{
	z-index: 141;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 7px;
}

#u2392
{
	z-index: 145;
	width: 3px;
	height: 38px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	left: 419px;
}

#u2393-4
{
	z-index: 146;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 426px;
}

#pu448
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 47px;
}

#u448_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
	padding-top: 18px;
	padding-bottom: 30px;
}

#u452-4
{
	z-index: 3;
	left: 105px;
}

#u453-4
{
	z-index: 7;
	left: 105px;
	margin-top: 5px;
}

#u454-4
{
	z-index: 11;
	left: 105px;
	margin-top: 30px;
}

#u448,#u448-bw
{
	z-index: 2;
	min-height: 161px;
}

#u455
{
	z-index: 15;
	width: 270px;
	height: 43px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 94px;
}

.ie #u1190,.ie #u455
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 36px;
	padding-bottom: 99px;
}

#page .verticalspacer
{
	clear: both;
}

