.version.___2 /* version checker */
{
	color: #0000F3;
	background-color: #2225CE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 1191px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -99px;
	width: 0.01px;
}

#pu1156
{
	width: 0.01px;
	padding-bottom: 103px;
	margin-left: -100px;
}

#u1156
{
	z-index: 16;
	height: 103px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.97);
	-pie-background: rgba(255,255,255,0.97);
}

#u1156-bw
{
	z-index: 16;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -36px;
}

#u1159
{
	z-index: 19;
	width: 161px;
	background-color: transparent;
	position: fixed;
	top: -26px;
	left: 10px;
}

#u1190
{
	z-index: 49;
	width: 93px;
	height: 52px;
	position: fixed;
	top: -10px;
	left: 662px;
}

#menuu1161
{
	z-index: 21;
	width: 354px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: -2px;
	left: 670px;
}

#u1176
{
	width: 87px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1177
{
	width: 87px;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
}

#u1177:hover
{
	background-color: transparent;
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1177:active
{
	background-color: transparent;
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1179
{
	height: 28px;
	width: 47px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 20px;
	background: url("../images/u1179.png") no-repeat 0px 0px;
}

#u1177:hover #u1179
{
	background: url("../images/u1179-r.png") no-repeat 0px 0px;
}

#u1177:active #u1179
{
	background: url("../images/u1179-m.png") no-repeat 0px 0px;
}

#u1177.MuseMenuActive #u1179
{
	background: url("../images/u1179-a.png") no-repeat 0px 0px;
}

.hidpi #u1179
{
	background-image: url("../images/u1179_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1177:hover #u1179
{
	background-image: url("../images/u1179-r_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1177:active #u1179
{
	background-image: url("../images/u1179-m_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1177.MuseMenuActive #u1179
{
	background-image: url("../images/u1179-a_2x.png");
	background-size: 47px 28px;
}

#u1162
{
	width: 87px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 89px;
}

#u1163
{
	width: 87px;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
}

#u1166
{
	height: 28px;
	width: 47px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 20px;
	background: url("../images/u1166.png") no-repeat 0px 0px;
}

#u1163:hover #u1166
{
	background: url("../images/u1166-r.png") no-repeat 0px 0px;
}

#u1163:active #u1166
{
	background: url("../images/u1166-m.png") no-repeat 0px 0px;
}

#u1163.MuseMenuActive #u1166
{
	background: url("../images/u1166-a.png") no-repeat 0px 0px;
}

.hidpi #u1166
{
	background-image: url("../images/u1166_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1163:hover #u1166
{
	background-image: url("../images/u1166-r_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1163:active #u1166
{
	background-image: url("../images/u1166-m_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1163.MuseMenuActive #u1166
{
	background-image: url("../images/u1166-a_2x.png");
	background-size: 47px 28px;
}

#u1169
{
	width: 87px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 178px;
}

#u1172
{
	width: 87px;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
}

#u1163:active,#u1172:active
{
	background-color: transparent;
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1175
{
	height: 28px;
	width: 47px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 20px;
	background: url("../images/u1175.png") no-repeat 0px 0px;
}

#u1172:hover #u1175
{
	background: url("../images/u1175-r.png") no-repeat 0px 0px;
}

#u1172:active #u1175
{
	background: url("../images/u1175-m.png") no-repeat 0px 0px;
}

#u1172.MuseMenuActive #u1175
{
	background: url("../images/u1175-a.png") no-repeat 0px 0px;
}

.hidpi #u1175
{
	background-image: url("../images/u1175_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1172:hover #u1175
{
	background-image: url("../images/u1175-r_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1172:active #u1175
{
	background-image: url("../images/u1175-m_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1172.MuseMenuActive #u1175
{
	background-image: url("../images/u1175-a_2x.png");
	background-size: 47px 28px;
}

#u1183
{
	width: 87px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 267px;
}

#u1186
{
	width: 87px;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
}

#u1177.MuseMenuActive,#u1186.MuseMenuActive
{
	background-color: transparent;
	border-radius: 0px;
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1188-4
{
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 20px;
}

#u1188-4_clip
{
	overflow: hidden;
	width: 47px;
	height: 28px;
	vertical-align: top;
}

#u1188-4_img
{
	display: block;
}

#u1157
{
	z-index: 17;
	width: 1024px;
	background-color: transparent;
	position: fixed;
	top: 65px;
	left: 0px;
}

#u1199
{
	z-index: 50;
	width: 987px;
	background-color: transparent;
	margin-left: 19px;
	margin-top: 12px;
	position: relative;
}

#u1205-4
{
	z-index: 52;
	display: block;
	vertical-align: top;
	margin-left: 326px;
	margin-top: 42px;
	position: relative;
}

#slideshowu1206
{
	z-index: 56;
	width: 0.01px;
	height: 488px;
	margin-left: 107px;
	margin-top: 5px;
	position: relative;
}

#u1214
{
	position: absolute;
	width: 818px;
	height: 400px;
	background-color: transparent;
	top: -4px;
	left: -4px;
}

#u1214popup
{
	z-index: 57;
}

#u1215
{
	z-index: 58;
	width: 810px;
	height: 392px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-width: 4px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u1217
{
	z-index: 60;
	width: 810px;
	height: 392px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-width: 4px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u1219
{
	z-index: 62;
	width: 810px;
	height: 392px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-width: 4px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u1215 .clip_frame,#u1217 .clip_frame,#u1219 .clip_frame
{
	-webkit-border-radius: 1px 1px 1px 1px;
}

#u1215_img,#u1217_img,#u1219_img
{
	padding-right: 1px;
}

#u1207
{
	position: absolute;
	width: 779px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 37px;
	top: 406px;
	left: 16px;
}

#u1207popup
{
	z-index: 64;
}

#u1208
{
	z-index: 65;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 289px;
}

#u1210
{
	z-index: 67;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 359px;
}

#u1212
{
	z-index: 69;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 429px;
}

#u1208.SSSlideLinkSelected,#u1210.SSSlideLinkSelected,#u1212.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1208_clip,#u1210_clip,#u1212_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u1208_img,#u1210_img,#u1212_img
{
	margin-left: -4px;
	margin-right: -3px;
}

#u1222-12
{
	position: absolute;
	width: 10px;
	min-height: 340px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.62);
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 18px;
	left: 198px;
	-pie-background: rgba(255,255,255,0.62);
}

#u1222-12popup
{
	z-index: 71;
}

#u1222-9
{
	color: #999999;
}

#u1228-12
{
	position: absolute;
	width: 10px;
	min-height: 340px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.62);
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 18px;
	left: 513px;
	-pie-background: rgba(255,255,255,0.62);
}

#u1228-12popup
{
	z-index: 83;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu448
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 117px;
}

#u448_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
	padding-top: 18px;
	padding-bottom: 30px;
}

#u452-4
{
	z-index: 3;
	left: 105px;
}

#u453-4
{
	z-index: 7;
	left: 105px;
	margin-top: 5px;
}

#u454-4
{
	z-index: 11;
	left: 105px;
	margin-top: 30px;
}

#u448,#u448-bw
{
	z-index: 2;
	min-height: 161px;
}

#u455
{
	z-index: 15;
	width: 270px;
	height: 43px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 94px;
}

.ie #u1190,.ie #u455
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 36px;
	padding-bottom: 99px;
}

#page .verticalspacer
{
	clear: both;
}

