.version.course /* version checker */
{
	color: #0000E3;
	background-color: #25A0FC;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 3077px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	border-radius: 0px 0px 5px 5px ;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -99px;
	width: 0.01px;
}

#pu1145
{
	width: 0.01px;
	padding-bottom: 103px;
	margin-left: -100px;
}

#u1145
{
	z-index: 118;
	height: 103px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.97);
	-pie-background: rgba(255,255,255,0.97);
}

#u1145-bw
{
	z-index: 118;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -36px;
}

#u1111
{
	z-index: 119;
	width: 161px;
	background-color: transparent;
	position: fixed;
	top: -26px;
	left: 10px;
}

#u4163
{
	z-index: 150;
	width: 93px;
	height: 52px;
	position: fixed;
	top: -10px;
	left: 673px;
}

#menuu4134
{
	z-index: 125;
	width: 345px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: -2px;
	left: 679px;
}

#u4149
{
	width: 85px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4150
{
	width: 85px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
}

#u4150:hover
{
	background-color: transparent;
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u4150:active
{
	background-color: transparent;
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u4151-4
{
	width: 51px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 17px;
}

#u4150:hover #u4151-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u4150:active #u4151-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u4150:hover #u4151-4 p
{
	font-weight: bold;
}

#u4150:active #u4151-4 p
{
	color: #ED1C24;
	visibility: inherit;
	font-weight: bold;
}

#u4156
{
	width: 85px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 87px;
}

#u4159
{
	width: 85px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
}

#u4159:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u4159:active
{
	background-color: transparent;
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u4161-4
{
	width: 51px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 17px;
}

#u4150.MuseMenuActive #u4151-4,#u4159:hover #u4161-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u4159:active #u4161-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u4159:hover #u4161-4 p
{
	font-weight: bold;
}

#u4159:active #u4161-4 p
{
	color: #ED1C24;
	visibility: inherit;
	font-weight: bold;
}

#u4142
{
	width: 85px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 174px;
}

#u4143
{
	width: 85px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
}

#u4150.MuseMenuActive,#u4143.MuseMenuActive
{
	background-color: transparent;
	border-radius: 0px;
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u4146-4
{
	width: 51px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 17px;
}

#u4159.MuseMenuActive #u4161-4,#u4143:hover #u4146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u4143:active #u4146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u4143:hover #u4146-4 p
{
	font-weight: bold;
}

#u4143:active #u4146-4 p
{
	color: #ED1C24;
	visibility: inherit;
	font-weight: bold;
}

#u4135
{
	width: 84px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 261px;
}

#u4136
{
	width: 84px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
}

#u4136:active
{
	background-color: transparent;
	width: 84px;
	min-height: 0px;
	margin: 0px;
}

#u4138-4
{
	width: 51px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 16px;
}

#u4143.MuseMenuActive #u4146-4,#u4136:hover #u4138-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u4136:active #u4138-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u4136.MuseMenuActive #u4138-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u4136:hover #u4138-4 p
{
	font-weight: bold;
}

#u4136:active #u4138-4 p
{
	color: #ED1C24;
	visibility: inherit;
	font-weight: bold;
}

#u4150.MuseMenuActive #u4151-4 p,#u4159.MuseMenuActive #u4161-4 p,#u4143.MuseMenuActive #u4146-4 p,#u4136.MuseMenuActive #u4138-4 p
{
	color: #000000;
	visibility: inherit;
	text-decoration: underline;
	font-weight: bold;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1448
{
	z-index: 121;
	width: 1024px;
	background-color: transparent;
	position: fixed;
	top: 65px;
	left: 0px;
}

#u918
{
	z-index: 17;
	width: 984px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	background-color: transparent;
	border-radius: 3px;
	margin-left: 20px;
	margin-top: 30px;
	position: relative;
}

#u918_clip
{
	overflow: hidden;
	width: 984px;
	height: 351px;
}

#u918_img
{
	margin-left: -1px;
	margin-right: -1px;
}

#u4030-4
{
	z-index: 104;
	width: 619px;
	min-height: 43px;
	background-color: transparent;
	color: #000000;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 202px;
	margin-top: 29px;
	position: relative;
}

#u932
{
	z-index: 111;
	height: 92px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.97);
	-pie-background: rgba(255,255,255,0.97);
}

#u932-bw
{
	z-index: 111;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 550px;
}

#u942
{
	z-index: 112;
	width: 449px;
	background-color: transparent;
	position: fixed;
	top: 550px;
	left: 288px;
}

#u1012
{
	z-index: 114;
	width: 75px;
	height: 74px;
	background-color: transparent;
	position: fixed;
	top: 559px;
	left: 296px;
}

.ie #u4163,.ie #u1012
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1012:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #FF0000;
	border-radius: 90px;
	width: 73px;
	height: 72px;
	min-height: 0px;
	margin: -1px;
}

#u1021
{
	z-index: 115;
	width: 75px;
	height: 74px;
	border-color: #FF0000;
	background-color: transparent;
	border-radius: 7px;
	position: fixed;
	top: 559px;
	left: 415px;
}

.ie #u1021
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1021:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #FF0000;
	border-radius: 90px;
	width: 73px;
	height: 72px;
	min-height: 0px;
	margin: -1px;
}

#u1022
{
	z-index: 116;
	width: 75px;
	height: 74px;
	background-color: transparent;
	position: fixed;
	top: 559px;
	left: 534px;
}

.ie #u1022
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1022:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #FF0000;
	border-radius: 90px;
	width: 73px;
	height: 72px;
	min-height: 0px;
	margin: -1px;
}

#u1023
{
	z-index: 117;
	width: 75px;
	height: 74px;
	background-color: transparent;
	position: fixed;
	top: 559px;
	left: 653px;
}

.ie #u1023
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1023:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #FF0000;
	border-radius: 90px;
	width: 73px;
	height: 72px;
	min-height: 0px;
	margin: -1px;
}

.ie #u1012:hover,.ie #u1021:hover,.ie #u1022:hover,.ie #u1023:hover
{
	opacity: 1;
	-ms-filter: "";
	filter: none;
	background-color: transparent;
}

#u1451
{
	z-index: 123;
	width: 1024px;
	background-color: transparent;
	position: fixed;
	top: 640px;
	left: 0px;
}

#pu3934
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 144px;
}

#u3934
{
	z-index: 19;
	width: 984px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 15px rgba(127,127,127,0.2),0px 0px 15px rgba(127,127,127,0.2);
	background-color: #FFFFE2;
	background-color: rgba(255,255,0,0.11);
	border-radius: 2px;
	padding-bottom: 49px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255,255,0,0.11);
}

#individual
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 129px;
	left: 190px;
}

#u1003
{
	z-index: 89;
	width: 203px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 212px;
}

#u997
{
	z-index: 87;
	width: 203px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 569px;
}

#u1009-4
{
	z-index: 91;
	width: 202px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 224px;
	left: 213px;
}

#u1010-4
{
	z-index: 95;
	width: 202px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 224px;
	left: 570px;
}

#pu3913
{
	width: 0.01px;
	margin-top: 30px;
}

#u3913
{
	z-index: 20;
	width: 1024px;
	background: transparent url("../images/u3913-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(60%, rgba(216,202,202,0.5)));
	background: -webkit-linear-gradient(top,#FFFFFF ,rgba(216,202,202,0.5) 60%);
	background: linear-gradient(to bottom,#FFFFFF ,rgba(216,202,202,0.5) 60%);
	padding-bottom: 37px;
	position: relative;
	margin-right: -10000px;
}

#pu955-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 49px;
	margin-left: 35px;
}

#u955-4
{
	z-index: 35;
	width: 196px;
	min-height: 32px;
	background-color: transparent;
	line-height: 36px;
	text-align: left;
	font-size: 30px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 1px;
	position: relative;
}

#u948
{
	z-index: 23;
	width: 498px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	background-color: transparent;
	border-radius: 3px;
	margin-top: 40px;
	position: relative;
}

#u954-10
{
	z-index: 25;
	width: 414px;
	min-height: 271px;
	background-color: transparent;
	line-height: 30px;
	text-align: left;
	font-size: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 569px;
}

#group
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 335px;
	left: 595px;
}

#u4031
{
	z-index: 103;
	width: 211px;
	height: 4px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 36px;
}

#u3915
{
	z-index: 21;
	width: 1024px;
	background-color: #F7EAE1;
	background-color: rgba(236,203,180,0.4);
	padding-bottom: 44px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(236,203,180,0.4);
}

#u970-10
{
	z-index: 41;
	width: 363px;
	min-height: 271px;
	background-color: transparent;
	line-height: 30px;
	text-align: left;
	font-size: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 57px;
}

#class
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 331px;
	left: 439px;
}

#pu971-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 46px;
	margin-left: 484px;
}

#u971-4
{
	z-index: 51;
	width: 196px;
	min-height: 32px;
	background-color: transparent;
	line-height: 36px;
	text-align: right;
	font-size: 30px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 303px;
	position: relative;
}

#u962
{
	z-index: 39;
	width: 499px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	background-color: transparent;
	border-radius: 3px;
	margin-top: 41px;
	position: relative;
}

#u4032
{
	z-index: 108;
	width: 211px;
	height: 4px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 772px;
}

#u3916
{
	z-index: 22;
	width: 1024px;
	background-color: #F9F8DF;
	background-color: rgba(235,234,150,0.3);
	padding-bottom: 35px;
	position: relative;
	-pie-background: rgba(235,234,150,0.3);
}

#pu982-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 47px;
	margin-left: 35px;
}

#u982-4
{
	z-index: 67;
	width: 196px;
	min-height: 32px;
	background-color: transparent;
	line-height: 36px;
	text-align: left;
	font-size: 30px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u4033
{
	z-index: 109;
	width: 211px;
	height: 4px;
	background-color: #42410B;
	position: relative;
}

#u975
{
	z-index: 55;
	width: 499px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	background-color: transparent;
	border-radius: 3px;
	margin-top: 36px;
	position: relative;
}

#club
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 336px;
	left: 561px;
}

#u981-10
{
	z-index: 57;
	width: 373px;
	min-height: 271px;
	background-color: transparent;
	line-height: 30px;
	text-align: left;
	font-size: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 610px;
}

#pu3915,#pu3917
{
	width: 0.01px;
}

#u3917
{
	z-index: 16;
	width: 1024px;
	background-color: #E4ECE1;
	background-color: rgba(149,179,135,0.25);
	padding-bottom: 46px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(149,179,135,0.25);
}

#u992-10
{
	z-index: 73;
	width: 325px;
	min-height: 271px;
	background-color: transparent;
	line-height: 30px;
	text-align: justify;
	font-size: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 35px;
}

#pu993-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 484px;
}

#u993-4
{
	z-index: 83;
	width: 196px;
	min-height: 32px;
	background-color: transparent;
	line-height: 36px;
	text-align: right;
	font-size: 30px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 303px;
	position: relative;
}

#u986
{
	z-index: 71;
	width: 499px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	background-color: transparent;
	border-radius: 3px;
	margin-top: 42px;
	position: relative;
}

#u918 .clip_frame,#u948 .clip_frame,#u962 .clip_frame,#u975 .clip_frame,#u986 .clip_frame
{
	-webkit-border-radius: 3px 3px 3px 3px;
}

#u4034
{
	z-index: 110;
	width: 211px;
	height: 4px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 772px;
}

#pu448
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u448_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
	padding-top: 23px;
	padding-bottom: 25px;
}

#u452-4
{
	z-index: 3;
	width: 200px;
	min-height: 26px;
	left: 125px;
}

#u453-4
{
	z-index: 7;
	width: 562px;
	min-height: 26px;
	left: 125px;
	margin-top: 5px;
}

#u454-4
{
	z-index: 11;
	width: 281px;
	min-height: 26px;
	left: 125px;
	margin-top: 30px;
}

#u448,#u448-bw
{
	z-index: 2;
	min-height: 161px;
}

#u455
{
	z-index: 15;
	width: 379px;
	height: 73px;
	margin-right: -10000px;
	margin-top: 80px;
	left: 106px;
}

.ie #u455
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 36px;
	padding-bottom: 99px;
}

#page .verticalspacer
{
	clear: both;
}

