.version.course /* version checker */
{
	color: #000005;
	background-color: #6C2A80;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 2796px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	border-radius: 0px 0px 5px 5px ;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -99px;
	width: 0.01px;
}

#pu1145
{
	width: 0.01px;
	padding-bottom: 103px;
	margin-left: -100px;
}

#u1145
{
	z-index: 106;
	height: 103px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.97);
	-pie-background: rgba(255,255,255,0.97);
}

#u1145-bw
{
	z-index: 106;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -36px;
}

#u1111
{
	z-index: 107;
	width: 161px;
	background-color: transparent;
	position: fixed;
	top: -26px;
	left: 10px;
}

#u1142
{
	z-index: 137;
	width: 93px;
	height: 52px;
	position: fixed;
	top: -10px;
	left: 645px;
}

#menuu1113
{
	z-index: 109;
	width: 354px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: -2px;
	left: 650px;
}

#u1135
{
	width: 87px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1136
{
	width: 87px;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
}

#u1136:hover
{
	background-color: transparent;
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1136:active
{
	background-color: transparent;
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1139
{
	height: 28px;
	width: 47px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 20px;
	background: url("../images/u1139.png") no-repeat 0px 0px;
}

#u1136:hover #u1139
{
	background: url("../images/u1139-r.png") no-repeat 0px 0px;
}

#u1136:active #u1139
{
	background: url("../images/u1139-m.png") no-repeat 0px 0px;
}

#u1136.MuseMenuActive #u1139
{
	background: url("../images/u1139-a.png") no-repeat 0px 0px;
}

.hidpi #u1139
{
	background-image: url("../images/u1139_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1136:hover #u1139
{
	background-image: url("../images/u1139-r_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1136:active #u1139
{
	background-image: url("../images/u1139-m_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1136.MuseMenuActive #u1139
{
	background-image: url("../images/u1139-a_2x.png");
	background-size: 47px 28px;
}

#u1114
{
	width: 87px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 89px;
}

#u1117
{
	width: 87px;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
}

#u1120
{
	height: 28px;
	width: 47px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 20px;
	background: url("../images/u1120.png") no-repeat 0px 0px;
}

#u1117:hover #u1120
{
	background: url("../images/u1120-r.png") no-repeat 0px 0px;
}

#u1117:active #u1120
{
	background: url("../images/u1120-m.png") no-repeat 0px 0px;
}

#u1117.MuseMenuActive #u1120
{
	background: url("../images/u1120-a.png") no-repeat 0px 0px;
}

.hidpi #u1120
{
	background-image: url("../images/u1120_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1117:hover #u1120
{
	background-image: url("../images/u1120-r_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1117:active #u1120
{
	background-image: url("../images/u1120-m_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1117.MuseMenuActive #u1120
{
	background-image: url("../images/u1120-a_2x.png");
	background-size: 47px 28px;
}

#u1121
{
	width: 87px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 178px;
}

#u1124
{
	width: 87px;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
}

#u1136.MuseMenuActive,#u1124.MuseMenuActive
{
	background-color: transparent;
	border-radius: 0px;
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1125-4
{
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 20px;
}

#u1125-4_clip
{
	overflow: hidden;
	width: 47px;
	height: 28px;
	vertical-align: top;
}

#u1125-4_img
{
	display: block;
}

#u1128
{
	width: 87px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 267px;
}

#u1131
{
	width: 87px;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
}

#u1117:active,#u1131:active
{
	background-color: transparent;
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1134
{
	height: 28px;
	width: 47px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 20px;
	background: url("../images/u1134.png") no-repeat 0px 0px;
}

#u1131:hover #u1134
{
	background: url("../images/u1134-r.png") no-repeat 0px 0px;
}

#u1131:active #u1134
{
	background: url("../images/u1134-m.png") no-repeat 0px 0px;
}

#u1131.MuseMenuActive #u1134
{
	background: url("../images/u1134-a.png") no-repeat 0px 0px;
}

.hidpi #u1134
{
	background-image: url("../images/u1134_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1131:hover #u1134
{
	background-image: url("../images/u1134-r_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1131:active #u1134
{
	background-image: url("../images/u1134-m_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1131.MuseMenuActive #u1134
{
	background-image: url("../images/u1134-a_2x.png");
	background-size: 47px 28px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1448
{
	z-index: 138;
	width: 1024px;
	background-color: transparent;
	position: fixed;
	top: 65px;
	left: 0px;
}

#u918
{
	z-index: 16;
	width: 984px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	background-color: transparent;
	border-radius: 5px;
	margin-left: 20px;
	margin-top: 30px;
	position: relative;
}

#u918_clip
{
	overflow: hidden;
	width: 984px;
	height: 351px;
}

#u918_img
{
	margin-left: -1px;
	margin-right: -1px;
}

#u933-4
{
	z-index: 18;
	width: 673px;
	min-height: 41px;
	background-color: transparent;
	color: #000000;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 175px;
	margin-top: 35px;
	position: relative;
}

#u933-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 673px;
	margin: 35px 0px 0px 175px;
}

#u933-4:hover p,#u933-4:hover h2
{
	text-align: center;
}

#u932
{
	z-index: 99;
	width: 1024px;
	height: 92px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.97);
	position: fixed;
	top: 550px;
	left: -1px;
	-pie-background: rgba(255,255,255,0.97);
}

#u942
{
	z-index: 100;
	width: 449px;
	background-color: transparent;
	position: fixed;
	top: 550px;
	left: 288px;
}

#u1012
{
	z-index: 102;
	width: 75px;
	height: 74px;
	background-color: transparent;
	position: fixed;
	top: 559px;
	left: 296px;
}

.ie #u1142,.ie #u1012
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1012:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #FF0000;
	border-radius: 90px;
	width: 73px;
	height: 72px;
	min-height: 0px;
	margin: -1px;
}

#u1021
{
	z-index: 103;
	width: 75px;
	height: 74px;
	border-color: #FF0000;
	background-color: transparent;
	border-radius: 7px;
	position: fixed;
	top: 559px;
	left: 415px;
}

.ie #u1021
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1021:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #FF0000;
	border-radius: 90px;
	width: 73px;
	height: 72px;
	min-height: 0px;
	margin: -1px;
}

#u1022
{
	z-index: 104;
	width: 75px;
	height: 74px;
	background-color: transparent;
	position: fixed;
	top: 559px;
	left: 534px;
}

.ie #u1022
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1022:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #FF0000;
	border-radius: 90px;
	width: 73px;
	height: 72px;
	min-height: 0px;
	margin: -1px;
}

#u1023
{
	z-index: 105;
	width: 75px;
	height: 74px;
	background-color: transparent;
	position: fixed;
	top: 559px;
	left: 653px;
}

.ie #u1023
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1023:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #FF0000;
	border-radius: 90px;
	width: 73px;
	height: 72px;
	min-height: 0px;
	margin: -1px;
}

.ie #u1012:hover,.ie #u1021:hover,.ie #u1022:hover,.ie #u1023:hover
{
	opacity: 1;
	-ms-filter: "";
	filter: none;
	background-color: transparent;
}

#u1451
{
	z-index: 140;
	width: 1024px;
	background-color: transparent;
	position: fixed;
	top: 640px;
	left: 0px;
}

#pindividual
{
	width: 0.01px;
	margin-left: 210px;
	margin-top: 172px;
}

#individual
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 102px;
}

#u1003
{
	z-index: 85;
	width: 203px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u997
{
	z-index: 83;
	width: 203px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 379px;
}

#pu1009-4
{
	width: 0.01px;
	margin-left: 233px;
}

#u1009-4
{
	z-index: 87;
	width: 202px;
	min-height: 52px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1010-4
{
	z-index: 91;
	width: 202px;
	min-height: 52px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 357px;
}

#pu948
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 55px;
}

#u948
{
	z-index: 22;
	width: 498px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	background-color: transparent;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#pu955-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 548px;
}

#u955-4
{
	z-index: 34;
	width: 196px;
	min-height: 32px;
	background-color: transparent;
	line-height: 30px;
	text-align: right;
	font-size: 25px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 212px;
	position: relative;
}

#pu954-10
{
	width: 0.01px;
	margin-top: 27px;
}

#u954-10
{
	z-index: 24;
	width: 408px;
	min-height: 271px;
	background-color: transparent;
	line-height: 24px;
	text-align: justify;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#group
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 149px;
	left: 6px;
}

#pu971-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u971-4
{
	z-index: 47;
	width: 196px;
	min-height: 32px;
	background-color: transparent;
	line-height: 30px;
	text-align: left;
	font-size: 25px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u970-7
{
	z-index: 40;
	width: 389px;
	min-height: 271px;
	background-color: transparent;
	line-height: 24px;
	text-align: justify;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 34px;
	position: relative;
}

#class
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 400px;
}

#u962
{
	z-index: 38;
	width: 499px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	background-color: transparent;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	left: 457px;
}

#ppu971-4,#pu975
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 99px;
}

#u975
{
	z-index: 51;
	width: 499px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	background-color: transparent;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#club
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 521px;
}

#pu982-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 555px;
}

#u982-4
{
	z-index: 63;
	width: 196px;
	min-height: 32px;
	background-color: transparent;
	line-height: 30px;
	text-align: right;
	font-size: 25px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 205px;
	position: relative;
}

#u981-10
{
	z-index: 53;
	width: 401px;
	min-height: 271px;
	background-color: transparent;
	line-height: 24px;
	text-align: justify;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 26px;
	position: relative;
}

#ppu993-4
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 95px;
}

#pu993-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
}

#u993-4
{
	z-index: 79;
	width: 196px;
	min-height: 32px;
	background-color: transparent;
	line-height: 30px;
	text-align: left;
	font-size: 25px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u992-10
{
	z-index: 69;
	width: 378px;
	min-height: 271px;
	background-color: transparent;
	line-height: 24px;
	text-align: justify;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 19px;
	position: relative;
}

#u986
{
	z-index: 67;
	width: 499px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	background-color: transparent;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	left: 457px;
}

#u918 .clip_frame,#u948 .clip_frame,#u962 .clip_frame,#u975 .clip_frame,#u986 .clip_frame
{
	-webkit-border-radius: 5px 5px 5px 5px;
}

#pu448
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 61px;
}

#u448_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
	padding-top: 18px;
	padding-bottom: 30px;
}

#u452-4
{
	z-index: 3;
	width: 200px;
	min-height: 26px;
	left: 105px;
}

#u453-4
{
	z-index: 7;
	width: 488px;
	min-height: 26px;
	left: 105px;
	margin-top: 5px;
}

#u454-4
{
	z-index: 11;
	width: 231px;
	min-height: 26px;
	left: 105px;
	margin-top: 30px;
}

#u448,#u448-bw
{
	z-index: 2;
	min-height: 161px;
}

#u455
{
	z-index: 15;
	width: 270px;
	height: 43px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 94px;
}

.ie #u455
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 36px;
	padding-bottom: 99px;
}

#page .verticalspacer
{
	clear: both;
}

