.version.leadership /* version checker */
{
	color: #0000F7;
	background-color: #E9B96A;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 3151.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -99px;
	width: 0.01px;
}

#pu1034
{
	width: 0.01px;
	padding-bottom: 103px;
	margin-left: -100px;
}

#u1034
{
	z-index: 199;
	height: 103px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.97);
	-pie-background: rgba(255,255,255,0.97);
}

#u1034-bw
{
	z-index: 199;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -36px;
}

#u1037
{
	z-index: 200;
	width: 161px;
	background-color: transparent;
	position: fixed;
	top: -26px;
	left: 10px;
}

#u1068
{
	z-index: 230;
	width: 93px;
	height: 52px;
	position: fixed;
	top: -10px;
	left: 662px;
}

#menuu1039
{
	z-index: 202;
	width: 354px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: -2px;
	left: 670px;
}

#u1047
{
	width: 87px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1048
{
	width: 87px;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
}

#u1048:hover
{
	background-color: transparent;
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1048:active
{
	background-color: transparent;
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1050
{
	height: 28px;
	width: 47px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 20px;
	background: url("../images/u1050.png") no-repeat 0px 0px;
}

#u1048:hover #u1050
{
	background: url("../images/u1050-r.png") no-repeat 0px 0px;
}

#u1048:active #u1050
{
	background: url("../images/u1050-m.png") no-repeat 0px 0px;
}

#u1048.MuseMenuActive #u1050
{
	background: url("../images/u1050-a.png") no-repeat 0px 0px;
}

.hidpi #u1050
{
	background-image: url("../images/u1050_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1048:hover #u1050
{
	background-image: url("../images/u1050-r_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1048:active #u1050
{
	background-image: url("../images/u1050-m_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1048.MuseMenuActive #u1050
{
	background-image: url("../images/u1050-a_2x.png");
	background-size: 47px 28px;
}

#u1054
{
	width: 87px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 89px;
}

#u1055
{
	width: 87px;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
}

#u1048.MuseMenuActive,#u1055.MuseMenuActive
{
	background-color: transparent;
	border-radius: 0px;
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1056-4
{
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 20px;
}

#u1056-4_clip
{
	overflow: hidden;
	width: 47px;
	height: 28px;
	vertical-align: top;
}

#u1056-4_img
{
	display: block;
}

#u1040
{
	width: 87px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 178px;
}

#u1043
{
	width: 87px;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
}

#u1044
{
	height: 28px;
	width: 47px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 20px;
	background: url("../images/u1044.png") no-repeat 0px 0px;
}

#u1043:hover #u1044
{
	background: url("../images/u1044-r.png") no-repeat 0px 0px;
}

#u1043:active #u1044
{
	background: url("../images/u1044-m.png") no-repeat 0px 0px;
}

#u1043.MuseMenuActive #u1044
{
	background: url("../images/u1044-a.png") no-repeat 0px 0px;
}

.hidpi #u1044
{
	background-image: url("../images/u1044_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1043:hover #u1044
{
	background-image: url("../images/u1044-r_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1043:active #u1044
{
	background-image: url("../images/u1044-m_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1043.MuseMenuActive #u1044
{
	background-image: url("../images/u1044-a_2x.png");
	background-size: 47px 28px;
}

#u1061
{
	width: 87px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 267px;
}

#u1064
{
	width: 87px;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
}

#u1043:active,#u1064:active
{
	background-color: transparent;
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1065
{
	height: 28px;
	width: 47px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 20px;
	background: url("../images/u1065.png") no-repeat 0px 0px;
}

#u1064:hover #u1065
{
	background: url("../images/u1065-r.png") no-repeat 0px 0px;
}

#u1064:active #u1065
{
	background: url("../images/u1065-m.png") no-repeat 0px 0px;
}

#u1064.MuseMenuActive #u1065
{
	background: url("../images/u1065-a.png") no-repeat 0px 0px;
}

.hidpi #u1065
{
	background-image: url("../images/u1065_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1064:hover #u1065
{
	background-image: url("../images/u1065-r_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1064:active #u1065
{
	background-image: url("../images/u1065-m_2x.png");
	background-size: 47px 28px;
}

.hidpi #u1064.MuseMenuActive #u1065
{
	background-image: url("../images/u1065-a_2x.png");
	background-size: 47px 28px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1444
{
	z-index: 231;
	width: 1024px;
	background-color: transparent;
	position: fixed;
	top: 65px;
	left: 0px;
}

#ppu464-4
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 53px;
}

#pu464-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u464-4
{
	z-index: 16;
	display: block;
	vertical-align: top;
	position: relative;
}

#u478-15
{
	z-index: 23;
	display: block;
	vertical-align: top;
	margin-top: 32px;
	position: relative;
}

#u628
{
	z-index: 40;
	width: 121px;
	background-color: transparent;
	position: relative;
}

#u471
{
	z-index: 20;
	width: 360px;
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 6px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 564px;
}

#u471::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	border-radius: 6px;
	box-shadow: inset 0px 0px 8px rgba(0,0,0,0.5), inset 0px 0px 8px rgba(0,0,0,0.5);
}

#u472
{
	z-index: 21;
	width: 351px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 3px;
}

#u472 .clip_frame
{
	-webkit-border-radius: 2px 2px 2px 2px;
}

#u622
{
	z-index: 38;
	width: 929px;
	background-color: transparent;
	margin-left: 47px;
	margin-top: 62px;
	position: relative;
}

#u653
{
	z-index: 42;
	width: 831px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	background-color: transparent;
	border-radius: 5px;
	margin-left: 97px;
	margin-top: 32px;
	position: relative;
}

#u653 .clip_frame
{
	-webkit-border-radius: 5px 5px 5px 5px;
}

#pu715
{
	width: 0.01px;
	margin-left: 97px;
	margin-top: 30px;
}

#u715
{
	z-index: 70;
	width: 410px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu708-6
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 435px;
}

#u708-6
{
	z-index: 64;
	display: block;
	vertical-align: top;
	margin-left: 50px;
	position: relative;
}

#u707-20
{
	z-index: 44;
	display: block;
	vertical-align: top;
	margin-top: 18px;
	position: relative;
}

#u721
{
	z-index: 72;
	width: 929px;
	background-color: transparent;
	margin-left: 67px;
	margin-top: 52px;
	position: relative;
}

#pu736
{
	width: 0.01px;
	margin-left: 96px;
	margin-top: 69px;
}

#u736
{
	z-index: 74;
	width: 361px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u742
{
	z-index: 76;
	width: 360px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 471px;
}

#pu748
{
	width: 0.01px;
	margin-left: 96px;
	margin-top: 12px;
}

#u748
{
	z-index: 78;
	width: 4px;
	height: 78px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#pu749-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 11px;
}

#u749-4
{
	z-index: 79;
	display: block;
	vertical-align: top;
	position: relative;
}

#u750-4
{
	z-index: 83;
	display: block;
	vertical-align: top;
	margin-top: 12px;
	position: relative;
}

#u751
{
	z-index: 87;
	width: 4px;
	height: 78px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	left: 472px;
}

#pu752-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 483px;
}

#u752-4
{
	z-index: 88;
	display: block;
	vertical-align: top;
	position: relative;
}

#u753-4
{
	z-index: 92;
	display: block;
	vertical-align: top;
	margin-top: 12px;
	position: relative;
}

#pu778
{
	width: 0.01px;
	margin-left: 96px;
	margin-top: 54px;
}

#u778
{
	z-index: 98;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u772
{
	z-index: 96;
	width: 235px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 299px;
}

#u784
{
	z-index: 100;
	width: 235px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 597px;
}

#u790
{
	z-index: 102;
	width: 236px;
	height: 4px;
	background-color: #42410B;
	margin-left: 96px;
	position: relative;
}

#u796
{
	z-index: 111;
	width: 236px;
	height: 4px;
	background-color: #42410B;
	margin-left: 395px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u799
{
	z-index: 120;
	width: 236px;
	height: 4px;
	background-color: #42410B;
	margin-left: 694px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u791-4
{
	z-index: 103;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u797-4
{
	z-index: 112;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 299px;
}

#u800-4
{
	z-index: 121;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 598px;
}

#pu792-4
{
	width: 0.01px;
	margin-left: 96px;
	margin-top: 3px;
}

#u792-4
{
	z-index: 107;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u798-4
{
	z-index: 116;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 299px;
}

#u801-4
{
	z-index: 125;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 598px;
}

#pu808
{
	width: 0.01px;
	margin-left: 96px;
	margin-top: 48px;
}

#u808
{
	z-index: 129;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u817
{
	z-index: 140;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 298px;
}

#u826
{
	z-index: 151;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 598px;
}

#u814
{
	z-index: 131;
	width: 236px;
	height: 4px;
	background-color: #42410B;
	margin-left: 96px;
	position: relative;
}

#u823
{
	z-index: 142;
	width: 236px;
	height: 4px;
	background-color: #42410B;
	margin-left: 394px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u832
{
	z-index: 153;
	width: 236px;
	height: 4px;
	background-color: #42410B;
	margin-left: 694px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#pu791-4,#pu815-4
{
	width: 0.01px;
	margin-left: 96px;
	margin-top: 11px;
}

#u815-4
{
	z-index: 132;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u824-4
{
	z-index: 143;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 298px;
}

#u833-4
{
	z-index: 154;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 598px;
}

#u816-4
{
	z-index: 136;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u825-4
{
	z-index: 147;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 298px;
}

#u834-4
{
	z-index: 158;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 598px;
}

#pu835
{
	width: 0.01px;
	margin-left: 96px;
	margin-top: 60px;
}

#u835
{
	z-index: 162;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u844
{
	z-index: 173;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 298px;
}

#u853
{
	z-index: 188;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 598px;
}

#u841
{
	z-index: 164;
	width: 236px;
	height: 4px;
	background-color: #42410B;
	margin-left: 96px;
	position: relative;
}

#pu850
{
	width: 0.01px;
	margin-left: 394px;
	margin-top: -4px;
}

#u850
{
	z-index: 175;
	width: 236px;
	height: 4px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u859
{
	z-index: 190;
	width: 236px;
	height: 4px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#pu842-4
{
	width: 0.01px;
	margin-left: 96px;
	margin-top: 10px;
}

#u842-4
{
	z-index: 165;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u851-4
{
	z-index: 176;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 298px;
}

#u860-4
{
	z-index: 191;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 598px;
}

#pu816-4,#pu843-4
{
	width: 0.01px;
	margin-left: 96px;
	margin-top: 4px;
}

#u843-4
{
	z-index: 169;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u852-8
{
	z-index: 180;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 298px;
}

#u861-4
{
	z-index: 195;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 598px;
}

#pu448
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 23px;
}

#u448_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
	padding-top: 18px;
	padding-bottom: 30px;
}

#u452-4
{
	z-index: 3;
	left: 105px;
}

#u453-4
{
	z-index: 7;
	left: 105px;
	margin-top: 5px;
}

#u454-4
{
	z-index: 11;
	left: 105px;
	margin-top: 30px;
}

#u448,#u448-bw
{
	z-index: 2;
	min-height: 161px;
}

#u455
{
	z-index: 15;
	width: 270px;
	height: 43px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 94px;
}

.ie #u1068,.ie #u455
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 36px;
	padding-bottom: 99px;
}

#page .verticalspacer
{
	clear: both;
}

