.version.media /* version checker */
{
	color: #000016;
	background-color: #DDADCB;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 1520px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -99px;
	width: 0.01px;
}

#pu1156
{
	width: 0.01px;
	padding-bottom: 103px;
	margin-left: -100px;
}

#u1156
{
	z-index: 168;
	height: 103px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.97);
	-pie-background: rgba(255,255,255,0.97);
}

#u1156-bw
{
	z-index: 168;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -36px;
}

#u1159
{
	z-index: 196;
	width: 161px;
	background-color: transparent;
	position: fixed;
	top: -26px;
	left: 20px;
}

#u4195
{
	z-index: 166;
	width: 93px;
	height: 52px;
	position: fixed;
	top: -10px;
	left: 673px;
}

#menuu4166
{
	z-index: 169;
	width: 345px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: -2px;
	left: 679px;
}

#u4181
{
	width: 85px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4182
{
	width: 85px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
}

#u4182:hover
{
	background-color: transparent;
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u4182:active
{
	background-color: transparent;
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u4182.MuseMenuActive
{
	background-color: transparent;
	border-radius: 0px;
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u4183-4
{
	width: 51px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 17px;
}

#u4182:hover #u4183-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u4182:active #u4183-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u4182:hover #u4183-4 p
{
	font-weight: bold;
}

#u4182:active #u4183-4 p
{
	color: #ED1C24;
	visibility: inherit;
	font-weight: bold;
}

#u4174
{
	width: 85px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 87px;
}

#u4177
{
	width: 85px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
}

#u4177:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u4178-4
{
	width: 51px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 17px;
}

#u4182.MuseMenuActive #u4183-4,#u4177:hover #u4178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u4177:active #u4178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u4177:hover #u4178-4 p
{
	font-weight: bold;
}

#u4177:active #u4178-4 p
{
	color: #ED1C24;
	visibility: inherit;
	font-weight: bold;
}

#u4188
{
	width: 85px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 174px;
}

#u4189
{
	width: 85px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
}

#u4189:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u4177:active,#u4189:active
{
	background-color: transparent;
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u4192-4
{
	width: 51px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 17px;
}

#u4177.MuseMenuActive #u4178-4,#u4189:hover #u4192-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u4189:active #u4192-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u4189:hover #u4192-4 p
{
	font-weight: bold;
}

#u4189:active #u4192-4 p
{
	color: #ED1C24;
	visibility: inherit;
	font-weight: bold;
}

#u4167
{
	width: 84px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 261px;
}

#u4168
{
	width: 84px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
}

#u4168.MuseMenuActive
{
	background-color: transparent;
	border-radius: 0px;
	width: 84px;
	min-height: 0px;
	margin: 0px;
}

#u4169-4
{
	width: 51px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 16px;
}

#u4189.MuseMenuActive #u4192-4,#u4168:hover #u4169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u4168:active #u4169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u4168.MuseMenuActive #u4169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u4168:hover #u4169-4 p
{
	font-weight: bold;
}

#u4168:active #u4169-4 p
{
	color: #ED1C24;
	visibility: inherit;
	font-weight: bold;
}

#u4182.MuseMenuActive #u4183-4 p,#u4177.MuseMenuActive #u4178-4 p,#u4189.MuseMenuActive #u4192-4 p,#u4168.MuseMenuActive #u4169-4 p
{
	color: #000000;
	visibility: inherit;
	text-decoration: underline;
	font-weight: bold;
}

#u1463
{
	z-index: 194;
	width: 1024px;
	background-color: transparent;
	position: fixed;
	top: 65px;
	left: 0px;
}

#u1457
{
	z-index: 126;
	width: 984px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	background-color: transparent;
	border-radius: 3px;
	margin-left: 21px;
	margin-top: 23px;
	position: relative;
}

#u1457 .clip_frame
{
	-webkit-border-radius: 3px 3px 3px 3px;
}

#u1205-4
{
	z-index: 16;
	width: 372px;
	min-height: 31px;
	background-color: transparent;
	line-height: 36px;
	text-align: left;
	font-size: 30px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	margin-left: 35px;
	margin-top: 61px;
	position: relative;
}

#u2372
{
	z-index: 167;
	width: 283px;
	height: 3px;
	background-color: #8C6239;
	margin-left: 35px;
	position: relative;
}

#slideshowu1206
{
	z-index: 21;
	width: 0.01px;
	height: 452px;
	margin-left: 56px;
	margin-top: 45px;
	position: relative;
}

#u1214
{
	position: absolute;
	width: 724px;
	height: 451px;
	background-color: transparent;
	left: 189px;
}

#u1214popup
{
	z-index: 22;
}

#u1215
{
	z-index: 23;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2),0px 0px 10px rgba(0,0,0,0.2);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 2px;
	margin-right: -10000px;
	position: relative;
}

#u1215_img
{
	margin-left: -39px;
	margin-right: -39px;
}

#u2157
{
	z-index: 25;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2),0px 0px 10px rgba(0,0,0,0.2);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 2px;
	margin-right: -10000px;
	position: relative;
}

#u2157_img
{
	margin-top: -13px;
	margin-bottom: -13px;
}

#u2166
{
	z-index: 27;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2),0px 0px 10px rgba(0,0,0,0.2);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 2px;
	margin-right: -10000px;
	position: relative;
}

#u2166_img
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u2175
{
	z-index: 29;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2),0px 0px 10px rgba(0,0,0,0.2);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 2px;
	margin-right: -10000px;
	position: relative;
}

#u2175_img
{
	margin-top: -13px;
	margin-bottom: -14px;
}

#u2193
{
	z-index: 31;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2),0px 0px 10px rgba(0,0,0,0.2);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 2px;
	margin-right: -10000px;
	position: relative;
}

#u2193_img
{
	margin-top: -24px;
	margin-bottom: -24px;
}

#u2202
{
	z-index: 33;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2),0px 0px 10px rgba(0,0,0,0.2);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 2px;
	margin-right: -10000px;
	position: relative;
}

#u2211
{
	z-index: 35;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2),0px 0px 10px rgba(0,0,0,0.2);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 2px;
	margin-right: -10000px;
	position: relative;
}

#u2211_img
{
	margin-top: -31px;
	margin-bottom: -1px;
}

#u2220
{
	z-index: 37;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2),0px 0px 10px rgba(0,0,0,0.2);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 2px;
	margin-right: -10000px;
	position: relative;
}

#u2229
{
	z-index: 39;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2),0px 0px 10px rgba(0,0,0,0.2);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 2px;
	margin-right: -10000px;
	position: relative;
}

#u2410
{
	z-index: 41;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2),0px 0px 10px rgba(0,0,0,0.2);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 2px;
	margin-right: -10000px;
	position: relative;
}

#u2410_img
{
	margin-top: -14px;
	margin-bottom: -14px;
}

#u2247
{
	z-index: 43;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2),0px 0px 10px rgba(0,0,0,0.2);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 2px;
	margin-right: -10000px;
	position: relative;
}

#u2247_img
{
	margin-top: -23px;
	margin-bottom: -22px;
}

#u2256
{
	z-index: 45;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2),0px 0px 10px rgba(0,0,0,0.2);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 2px;
	margin-right: -10000px;
	position: relative;
}

#u2256_img
{
	margin-top: -9px;
	margin-bottom: -9px;
}

#u2265
{
	z-index: 47;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2),0px 0px 10px rgba(0,0,0,0.2);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 2px;
	margin-right: -10000px;
	position: relative;
}

#u2265_img
{
	margin-top: -8px;
	margin-bottom: -8px;
}

#u2274
{
	z-index: 49;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2),0px 0px 10px rgba(0,0,0,0.2);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 2px;
	margin-right: -10000px;
	position: relative;
}

#u2274_img
{
	margin-top: -22px;
	margin-bottom: -21px;
}

#u2283
{
	z-index: 51;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2),0px 0px 10px rgba(0,0,0,0.2);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 2px;
	margin-right: -10000px;
	position: relative;
}

#u2283_img
{
	margin-top: -3px;
	margin-bottom: -42px;
}

#u2292
{
	z-index: 53;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2),0px 0px 10px rgba(0,0,0,0.2);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 2px;
	margin-right: -10000px;
	position: relative;
}

#u2292_img
{
	margin-top: -46px;
	margin-bottom: -46px;
}

#u2301
{
	z-index: 55;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2),0px 0px 10px rgba(0,0,0,0.2);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 2px;
	margin-right: -10000px;
	position: relative;
}

#u2301_img
{
	margin-top: -17px;
	margin-bottom: -16px;
}

#u2310
{
	z-index: 57;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2),0px 0px 10px rgba(0,0,0,0.2);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 2px;
	margin-right: -10000px;
	position: relative;
}

#u2319
{
	z-index: 59;
	width: 724px;
	height: 451px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2),0px 0px 10px rgba(0,0,0,0.2);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 2px;
	margin-right: -10000px;
	position: relative;
}

#u1215_clip,#u2157_clip,#u2166_clip,#u2175_clip,#u2193_clip,#u2202_clip,#u2211_clip,#u2220_clip,#u2229_clip,#u2410_clip,#u2247_clip,#u2256_clip,#u2265_clip,#u2274_clip,#u2283_clip,#u2292_clip,#u2301_clip,#u2310_clip,#u2319_clip
{
	overflow: hidden;
	width: 724px;
	height: 451px;
}

#u2202_img,#u2220_img,#u2229_img,#u2310_img,#u2319_img
{
	margin-top: -16px;
	margin-bottom: -16px;
}

#u1207
{
	position: absolute;
	width: 152px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 8px;
	top: 15px;
}

#u1207popup
{
	z-index: 61;
}

#u1208
{
	z-index: 62;
	width: 50px;
	height: 33px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	left: 21px;
}

#u1208_img
{
	margin-left: -4px;
	margin-right: -5px;
}

#u2160
{
	z-index: 64;
	width: 50px;
	height: 33px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	left: 81px;
}

#u1208.SSSlideLinkSelected,#u2160.SSSlideLinkSelected
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-style: none;
	border-color: transparent;
	width: 50px;
	height: 33px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2169
{
	z-index: 66;
	width: 50px;
	height: 33px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 21px;
}

#u2169_img
{
	margin-left: -1px;
	margin-right: -2px;
}

#u2178
{
	z-index: 68;
	width: 50px;
	height: 33px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 81px;
}

#u2169.SSSlideLinkSelected,#u2178.SSSlideLinkSelected
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-style: none;
	border-color: transparent;
	width: 50px;
	height: 33px;
	min-height: 0px;
	margin: 43px -10000px 0px 0px;
}

#u2196
{
	z-index: 70;
	width: 50px;
	height: 33px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 21px;
}

#u2205
{
	z-index: 72;
	width: 50px;
	height: 33px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 81px;
}

#u2196.SSSlideLinkSelected,#u2205.SSSlideLinkSelected
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-style: none;
	border-color: transparent;
	width: 50px;
	height: 33px;
	min-height: 0px;
	margin: 86px -10000px 0px 0px;
}

#u2214
{
	z-index: 74;
	width: 50px;
	height: 33px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: 21px;
}

#u2223
{
	z-index: 76;
	width: 50px;
	height: 33px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: 81px;
}

#u2214.SSSlideLinkSelected,#u2223.SSSlideLinkSelected
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-style: none;
	border-color: transparent;
	width: 50px;
	height: 33px;
	min-height: 0px;
	margin: 129px -10000px 0px 0px;
}

#u2232
{
	z-index: 78;
	width: 50px;
	height: 33px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
	left: 21px;
}

#u2413
{
	z-index: 80;
	width: 50px;
	height: 33px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
	left: 81px;
}

#u2232.SSSlideLinkSelected,#u2413.SSSlideLinkSelected
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-style: none;
	border-color: transparent;
	width: 50px;
	height: 33px;
	min-height: 0px;
	margin: 172px -10000px 0px 0px;
}

#u2250
{
	z-index: 82;
	width: 50px;
	height: 33px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 215px;
	left: 21px;
}

#u2259
{
	z-index: 84;
	width: 50px;
	height: 33px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 215px;
	left: 81px;
}

#u2250.SSSlideLinkSelected,#u2259.SSSlideLinkSelected
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-style: none;
	border-color: transparent;
	width: 50px;
	height: 33px;
	min-height: 0px;
	margin: 215px -10000px 0px 0px;
}

#u2268
{
	z-index: 86;
	width: 50px;
	height: 33px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 258px;
	left: 21px;
}

#u2268_img
{
	margin-left: -1px;
}

#u2277
{
	z-index: 88;
	width: 50px;
	height: 33px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 258px;
	left: 81px;
}

#u2268.SSSlideLinkSelected,#u2277.SSSlideLinkSelected
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-style: none;
	border-color: transparent;
	width: 50px;
	height: 33px;
	min-height: 0px;
	margin: 258px -10000px 0px 0px;
}

#u2286
{
	z-index: 90;
	width: 50px;
	height: 33px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 301px;
	left: 21px;
}

#u2196_img,#u2250_img,#u2277_img,#u2286_img
{
	margin-top: -1px;
}

#u2295
{
	z-index: 92;
	width: 50px;
	height: 33px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 301px;
	left: 81px;
}

#u2286.SSSlideLinkSelected,#u2295.SSSlideLinkSelected
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-style: none;
	border-color: transparent;
	width: 50px;
	height: 33px;
	min-height: 0px;
	margin: 301px -10000px 0px 0px;
}

#u1208_clip,#u2169_clip,#u2196_clip,#u2250_clip,#u2259_clip,#u2268_clip,#u2277_clip,#u2286_clip,#u2295_clip
{
	overflow: hidden;
	width: 50px;
	height: 33px;
}

#u2295_img
{
	margin-top: -2px;
	margin-bottom: -3px;
}

#u2304
{
	z-index: 94;
	width: 50px;
	height: 33px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 344px;
	left: 21px;
}

#u2313
{
	z-index: 96;
	width: 50px;
	height: 33px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 344px;
	left: 81px;
}

#u2304.SSSlideLinkSelected,#u2313.SSSlideLinkSelected
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-style: none;
	border-color: transparent;
	width: 50px;
	height: 33px;
	min-height: 0px;
	margin: 344px -10000px 0px 0px;
}

#u2322
{
	z-index: 98;
	width: 50px;
	height: 33px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-color: #6B6B6B;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 387px;
	left: 21px;
}

#u2322.SSSlideLinkSelected
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1),0px 0px 3px rgba(0,0,0,0.1);
	border-style: none;
	border-color: transparent;
	width: 50px;
	height: 33px;
	min-height: 0px;
	margin: 387px -10000px 0px 0px;
}

#u1215 .clip_frame,#u2157 .clip_frame,#u2166 .clip_frame,#u2175 .clip_frame,#u2193 .clip_frame,#u2202 .clip_frame,#u2211 .clip_frame,#u2220 .clip_frame,#u2229 .clip_frame,#u2410 .clip_frame,#u2247 .clip_frame,#u2256 .clip_frame,#u2265 .clip_frame,#u2274 .clip_frame,#u2283 .clip_frame,#u2292 .clip_frame,#u2301 .clip_frame,#u2310 .clip_frame,#u2319 .clip_frame,#u1208 .clip_frame,#u2160 .clip_frame,#u2169 .clip_frame,#u2178 .clip_frame,#u2196 .clip_frame,#u2205 .clip_frame,#u2214 .clip_frame,#u2223 .clip_frame,#u2232 .clip_frame,#u2413 .clip_frame,#u2250 .clip_frame,#u2259 .clip_frame,#u2268 .clip_frame,#u2277 .clip_frame,#u2286 .clip_frame,#u2295 .clip_frame,#u2304 .clip_frame,#u2313 .clip_frame,#u2322 .clip_frame
{
	-webkit-border-radius: 2px 2px 2px 2px;
}

#u1222-13
{
	position: absolute;
	display: block;
	vertical-align: top;
	left: 189px;
}

#u1222-13popup
{
	z-index: 100;
}

#u1228-13
{
	position: absolute;
	display: block;
	vertical-align: top;
	left: 786px;
}

#u1228-13popup
{
	z-index: 113;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u4498
{
	z-index: 20;
	width: 152px;
	height: 452px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.2),0px 0px 8px rgba(0,0,0,0.2);
	background-color: #EAE7E5;
	background-color: rgba(115,99,87,0.15);
	border-radius: 2px;
	margin-left: 56px;
	top: -452px;
	margin-bottom: -452px;
	position: relative;
	-pie-background: rgba(115,99,87,0.15);
}

#u2373-4
{
	z-index: 128;
	width: 372px;
	min-height: 31px;
	background-color: transparent;
	line-height: 36px;
	text-align: left;
	font-size: 30px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	margin-left: 35px;
	margin-top: 50px;
	position: relative;
}

#u2374
{
	z-index: 132;
	width: 283px;
	height: 3px;
	background-color: #8C6239;
	margin-left: 35px;
	position: relative;
}

#pamphletu3762
{
	z-index: 142;
	width: 0.01px;
	height: 193px;
	margin-left: 155px;
	margin-top: 50px;
	position: relative;
}

#u3763
{
	z-index: 143;
	width: 325px;
	position: relative;
	margin-right: -10000px;
}

#u3764
{
	position: absolute;
	width: 325px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4),0px 0px 5px rgba(0,0,0,0.4);
	border-style: none;
	border-color: transparent;
	border-radius: 8px;
	background: transparent url("../images/anniversary-ieu3764-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/anniversary.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u3765
{
	z-index: 145;
	width: 88px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 115px;
}

#u3764:hover #u3765
{
	border-color: #000000;
	width: 88px;
	min-height: 0px;
	margin: 51px -10000px 0px 0px;
}

#u3767
{
	z-index: 147;
	width: 325px;
	height: 193px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.15);
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255,255,255,0.15);
}

#u3764:hover #u3767
{
	border-color: #FF0000;
	width: 325px;
	height: 193px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3768
{
	position: absolute;
	width: 920px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0,0,0,0.5);
	padding-bottom: 44px;
	top: -187px;
	left: -119px;
	-pie-background: rgba(0,0,0,0.5);
}

#u3768popup
{
	z-index: 148;
}

#u3769
{
	z-index: 149;
	width: 876px;
	height: 504px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3770
{
	z-index: 150;
	width: 854px;
	min-height: 484px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 6px;
}

#u3868
{
	z-index: 151;
	width: 40px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 836px;
}

#u3776
{
	position: absolute;
	width: 48px;
	height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 20px;
	top: -169px;
	left: 735px;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#pamphletu3851
{
	z-index: 154;
	width: 0.01px;
	height: 193px;
	margin-left: 574px;
	top: -193px;
	margin-bottom: -193px;
	position: relative;
}

#u3860
{
	z-index: 155;
	width: 325px;
	position: relative;
	margin-right: -10000px;
}

#u3861
{
	position: absolute;
	width: 325px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4),0px 0px 5px rgba(0,0,0,0.4);
	border-style: none;
	border-color: transparent;
	border-radius: 8px;
	background: transparent url("../images/dscf3401-ieu3861-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/dscf3401.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u3764:hover,#u3861:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4),0px 0px 5px rgba(0,0,0,0.4);
	background-repeat: no-repeat;
	background-position: center center;
	border-style: none;
	border-color: transparent;
	width: 325px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u3863
{
	z-index: 157;
	width: 88px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 115px;
}

#u3861:hover #u3863
{
	border-color: #000000;
	width: 88px;
	min-height: 0px;
	margin: 51px -10000px 0px 0px;
}

#u3764.PamphletThumbSelected #u3765,#u3861.PamphletThumbSelected #u3863
{
	border-style: none;
	border-color: transparent;
	width: 88px;
	min-height: 0px;
	margin: 51px -10000px 0px 0px;
}

#u3862
{
	z-index: 159;
	width: 325px;
	height: 193px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.15);
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255,255,255,0.15);
}

#u3861:hover #u3862
{
	border-color: #FF0000;
	width: 325px;
	height: 193px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3764.PamphletThumbSelected #u3767,#u3861.PamphletThumbSelected #u3862
{
	border-style: none;
	border-color: transparent;
	width: 325px;
	height: 193px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3856
{
	position: absolute;
	width: 920px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0,0,0,0.5);
	padding-bottom: 44px;
	top: -189px;
	left: -505px;
	-pie-background: rgba(0,0,0,0.5);
}

#u3856popup
{
	z-index: 160;
}

#u3857
{
	z-index: 161;
	width: 876px;
	height: 505px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3858
{
	z-index: 162;
	width: 854px;
	min-height: 484px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 6px;
}

#u3874
{
	z-index: 163;
	width: 40px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 836px;
}

#u3865
{
	position: absolute;
	width: 48px;
	height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 20px;
	top: -170px;
	left: 349px;
}

#pu2389
{
	width: 0.01px;
	margin-left: 155px;
	margin-top: 12px;
}

#u2389
{
	z-index: 133;
	width: 3px;
	height: 25px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
}

#u2391-4
{
	z-index: 134;
	width: 320px;
	min-height: 38px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u2495
{
	z-index: 198;
	width: 3px;
	height: 25px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	left: 419px;
}

#u2496-4
{
	z-index: 138;
	width: 314px;
	min-height: 38px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 424px;
}

#pu448
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 47px;
}

#u448_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
	padding-top: 23px;
	padding-bottom: 25px;
}

#u452-4
{
	z-index: 3;
	width: 200px;
	min-height: 26px;
	left: 125px;
}

#u453-4
{
	z-index: 7;
	width: 562px;
	min-height: 26px;
	left: 125px;
	margin-top: 5px;
}

#u454-4
{
	z-index: 11;
	width: 281px;
	min-height: 26px;
	left: 125px;
	margin-top: 30px;
}

#u448,#u448-bw
{
	z-index: 2;
	min-height: 161px;
}

#u455
{
	z-index: 15;
	width: 320px;
	height: 68px;
	margin-right: -10000px;
	margin-top: 86px;
	left: 111px;
}

.ie #u4195,.ie #u3776,.ie #u3865,.ie #u455
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 36px;
	padding-bottom: 99px;
}

#page .verticalspacer
{
	clear: both;
}

