#u2981:active #u2982
{
	background: url("../../images/u2982-m.png") no-repeat 0px 0px;
}

#u3004:active #u3006
{
	background: url("../../images/u3006-m.png") no-repeat 0px 0px;
}

#u2990:active #u2992
{
	background: url("../../images/u2992-m.png") no-repeat 0px 0px;
}

#u2997:active #u2998
{
	background: url("../../images/u2998-m.png") no-repeat 0px 0px;
}

.version.class /* version checker */
{
	color: #0000EC;
	background-color: #42D0BE;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1574px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-bottom: -4px;
	padding-top: 6px;
	width: 0.01px;
}

#u2970
{
	z-index: 16;
	width: 126px;
	background-color: transparent;
	margin-left: 127px;
	position: relative;
}

#menuu2972
{
	z-index: 18;
	width: 255px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 62px;
	margin-top: 2px;
	position: relative;
}

#u3001
{
	width: 49px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3004
{
	width: 49px;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
}

#u3004:hover
{
	background-color: transparent;
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u3004:active
{
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u3006
{
	height: 14px;
	width: 49px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	background: url("../../images/u3006.png") no-repeat 0px 0px;
}

#u3004.MuseMenuActive #u3006
{
	background: url("../../images/u3006-a.png") no-repeat 0px 0px;
}

.hidpi #u3006
{
	background-image: url("../../images/u3006_2x.png");
	background-size: 49px 14px;
}

.hidpi #u3004:active #u3006
{
	background-image: url("../../images/u3006-m_2x.png");
	background-size: 49px 14px;
}

.hidpi #u3004.MuseMenuActive #u3006
{
	background-image: url("../../images/u3006-a_2x.png");
	background-size: 49px 14px;
}

#u2980
{
	width: 49px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 51px;
}

#u2981
{
	width: 49px;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
}

#u2982
{
	height: 14px;
	width: 49px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	background: url("../../images/u2982.png") no-repeat 0px 0px;
}

#u2981.MuseMenuActive #u2982
{
	background: url("../../images/u2982-a.png") no-repeat 0px 0px;
}

.hidpi #u2982
{
	background-image: url("../../images/u2982_2x.png");
	background-size: 49px 14px;
}

.hidpi #u2981:active #u2982
{
	background-image: url("../../images/u2982-m_2x.png");
	background-size: 49px 14px;
}

.hidpi #u2981.MuseMenuActive #u2982
{
	background-image: url("../../images/u2982-a_2x.png");
	background-size: 49px 14px;
}

#u2987
{
	width: 49px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u2990
{
	width: 49px;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
}

#u2981:hover,#u2990:hover
{
	background-color: transparent;
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u2992
{
	height: 14px;
	width: 49px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	background: url("../../images/u2992.png") no-repeat 0px 0px;
}

#u2990.MuseMenuActive #u2992
{
	background: url("../../images/u2992-a.png") no-repeat 0px 0px;
}

.hidpi #u2992
{
	background-image: url("../../images/u2992_2x.png");
	background-size: 49px 14px;
}

.hidpi #u2990:active #u2992
{
	background-image: url("../../images/u2992-m_2x.png");
	background-size: 49px 14px;
}

.hidpi #u2990.MuseMenuActive #u2992
{
	background-image: url("../../images/u2992-a_2x.png");
	background-size: 49px 14px;
}

#u2973
{
	width: 50px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 153px;
}

#u2974
{
	width: 50px;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
}

#u2974.MuseMenuActive
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u2975-4
{
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 0px;
}

#u2975-4_clip
{
	overflow: hidden;
	width: 50px;
	height: 14px;
	vertical-align: top;
}

#u2975-4_img
{
	display: block;
}

#u2994
{
	width: 50px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 205px;
}

#u2997
{
	width: 50px;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
}

#u2997:hover
{
	background-color: transparent;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u2998
{
	height: 14px;
	width: 50px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	background: url("../../images/u2998.png") no-repeat 0px 0px;
}

#u2997.MuseMenuActive #u2998
{
	background: url("../../images/u2998-a.png") no-repeat 0px 0px;
}

.hidpi #u2998
{
	background-image: url("../../images/u2998_2x.png");
	background-size: 50px 14px;
}

.hidpi #u2997:active #u2998
{
	background-image: url("../../images/u2998-m_2x.png");
	background-size: 50px 14px;
}

.hidpi #u2997.MuseMenuActive #u2998
{
	background-image: url("../../images/u2998-a_2x.png");
	background-size: 50px 14px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u3008
{
	z-index: 50;
	width: 380px;
	background-color: transparent;
	margin-top: 3px;
	position: relative;
}

#u3012
{
	z-index: 52;
	width: 380px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.25),0px 0px 4px rgba(0,0,0,0.25);
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

#u3012_clip
{
	overflow: hidden;
	width: 380px;
	height: 135px;
}

#pu3024
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 15px;
}

#u3024
{
	z-index: 49;
	width: 352px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 4px rgba(127,127,127,0.25),0px 0px 4px rgba(127,127,127,0.25);
	background: transparent url("../../images/u3024-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(40%, rgba(255,255,255,0)),to(rgba(198,156,109,0.2)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0) 40%,rgba(198,156,109,0.2) );
	background: linear-gradient(to bottom,rgba(255,255,255,0) 40%,rgba(198,156,109,0.2) );
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#pu3017
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 32px;
	margin-left: 17px;
}

#u3017
{
	z-index: 56;
	width: 96px;
	background-color: transparent;
	margin-left: 12px;
	position: relative;
}

#u3019-4
{
	z-index: 58;
	display: block;
	vertical-align: top;
	position: relative;
}

#u3015
{
	z-index: 54;
	width: 96px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 206px;
}

#u3020-4
{
	z-index: 62;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 128px;
	left: 195px;
}

#u3025-4
{
	z-index: 66;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 29px;
}

#u3031
{
	z-index: 70;
	width: 230px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.2),0px 0px 4px rgba(0,0,0,0.2);
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
}

#ppu3034-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 9px;
	margin-left: 276px;
}

#u3034-4
{
	z-index: 82;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u3037
{
	z-index: 87;
	width: 1px;
	height: 21px;
	background-color: #534741;
	position: relative;
	margin-right: -10000px;
	left: 55px;
}

#u3036
{
	z-index: 86;
	width: 51px;
	height: 1px;
	background-color: #534741;
	margin-left: 12px;
	top: -5px;
	margin-bottom: -1px;
	position: relative;
}

#u3033-10
{
	z-index: 72;
	display: block;
	vertical-align: top;
	margin-left: 19px;
	margin-top: 10px;
	position: relative;
}

#pu3039
{
	width: 0.01px;
	margin-left: 31px;
	margin-top: 19px;
}

#u3039
{
	z-index: 88;
	width: 230px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.2),0px 0px 4px rgba(0,0,0,0.2);
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	left: 97px;
}

#u3047-4
{
	z-index: 97;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 8px;
}

#u3048
{
	z-index: 101;
	width: 70px;
	height: 1px;
	background-color: #534741;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#u3049
{
	z-index: 102;
	width: 1px;
	height: 21px;
	background-color: #534741;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 6px;
}

#u3041-7
{
	z-index: 90;
	display: block;
	vertical-align: top;
	margin-left: 19px;
	margin-top: 13px;
	position: relative;
}

#pu3050
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: 20px;
}

#u3050
{
	z-index: 103;
	width: 230px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.2),0px 0px 4px rgba(0,0,0,0.2);
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
}

#ppu3055-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 267px;
}

#pu3034-4,#pu3055-4
{
	width: 0.01px;
}

#u3055-4
{
	z-index: 115;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u3057
{
	z-index: 120;
	width: 1px;
	height: 21px;
	background-color: #534741;
	position: relative;
	margin-right: -10000px;
	left: 55px;
}

#u3056
{
	z-index: 119;
	width: 63px;
	height: 1px;
	background-color: #534741;
	top: -4px;
	margin-bottom: -1px;
	position: relative;
}

#u3052-10
{
	z-index: 105;
	display: block;
	vertical-align: top;
	margin-left: 19px;
	margin-top: 12px;
	position: relative;
}

#pu3031,#pu3058
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: 16px;
}

#u3058
{
	z-index: 121;
	width: 230px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.2),0px 0px 4px rgba(0,0,0,0.2);
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	left: 109px;
}

#u3031 .clip_frame,#u3039 .clip_frame,#u3050 .clip_frame,#u3058 .clip_frame
{
	-webkit-border-radius: 2px 2px 2px 2px;
}

#u3063-4
{
	z-index: 133;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 8px;
}

#u3064
{
	z-index: 137;
	width: 34px;
	height: 1px;
	background-color: #534741;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
}

#u3065
{
	z-index: 138;
	width: 1px;
	height: 21px;
	background-color: #534741;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 6px;
}

#u3060-10
{
	z-index: 123;
	display: block;
	vertical-align: top;
	margin-left: 19px;
	margin-top: 12px;
	position: relative;
}

#pu2560
{
	width: 0.01px;
	margin-top: 13px;
}

#u2560
{
	z-index: 2;
	min-height: 36px;
	padding-bottom: 29px;
}

#u2561-4
{
	z-index: 3;
	margin-right: -10000px;
	margin-top: 7px;
	left: 14px;
}

#u2560-bw
{
	z-index: 2;
	min-height: 36px;
}

#u2562-4
{
	z-index: 7;
	margin-right: -10000px;
	margin-top: 22px;
	left: 14px;
}

#u2563-4
{
	z-index: 11;
	margin-right: -10000px;
	margin-top: 42px;
	left: 14px;
}

#u2564
{
	z-index: 15;
	width: 157px;
	height: 19px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 6px;
}

.ie #u2564
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

