#u3433:active #u3435
{
	background: url("../../images/u3435-m.png") no-repeat 0px 0px;
}

#u3459:active #u3461
{
	background: url("../../images/u3461-m.png") no-repeat 0px 0px;
}

#u3452:active #u3453
{
	background: url("../../images/u3453-m.png") no-repeat 0px 0px;
}

#u3440:active #u3443
{
	background: url("../../images/u3443-m.png") no-repeat 0px 0px;
}

.version.class /* version checker */
{
	color: #0000FC;
	background-color: #44356E;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 2996.525px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	width: 0.01px;
}

#pu3427
{
	width: 0.01px;
	margin-left: 44px;
}

#u3427
{
	z-index: 97;
	width: 126px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 84px;
}

#u3467
{
	z-index: 132;
	width: 317px;
	height: 9px;
	position: relative;
	margin-right: -10000px;
}

#classtop
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 238px;
}

#menuu3429
{
	z-index: 99;
	width: 349px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 15px;
	margin-top: 9px;
	position: relative;
}

#u3451
{
	width: 68px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3452
{
	width: 68px;
	background-color: transparent;
	padding-bottom: 3px;
	position: relative;
}

#u3452:hover
{
	background-color: transparent;
	width: 68px;
	min-height: 0px;
	margin: 0px;
}

#u3453
{
	height: 22px;
	width: 68px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	background: url("../../images/u3453.png") no-repeat 0px 0px;
}

#u3452.MuseMenuActive #u3453
{
	background: url("../../images/u3453-a.png") no-repeat 0px 0px;
}

.hidpi #u3453
{
	background-image: url("../../images/u3453_2x.png");
	background-size: 68px 22px;
}

.hidpi #u3452:active #u3453
{
	background-image: url("../../images/u3453-m_2x.png");
	background-size: 68px 22px;
}

.hidpi #u3452.MuseMenuActive #u3453
{
	background-image: url("../../images/u3453-a_2x.png");
	background-size: 68px 22px;
}

#u3430
{
	width: 68px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u3433
{
	width: 68px;
	background-color: transparent;
	padding-bottom: 3px;
	position: relative;
}

#u3435
{
	height: 22px;
	width: 68px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	background: url("../../images/u3435.png") no-repeat 0px 0px;
}

#u3433.MuseMenuActive #u3435
{
	background: url("../../images/u3435-a.png") no-repeat 0px 0px;
}

.hidpi #u3435
{
	background-image: url("../../images/u3435_2x.png");
	background-size: 68px 22px;
}

.hidpi #u3433:active #u3435
{
	background-image: url("../../images/u3435-m_2x.png");
	background-size: 68px 22px;
}

.hidpi #u3433.MuseMenuActive #u3435
{
	background-image: url("../../images/u3435-a_2x.png");
	background-size: 68px 22px;
}

#u3437
{
	width: 68px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u3440
{
	width: 68px;
	background-color: transparent;
	padding-bottom: 3px;
	position: relative;
}

#u3433:hover,#u3440:hover
{
	background-color: transparent;
	width: 68px;
	min-height: 0px;
	margin: 0px;
}

#u3443
{
	height: 22px;
	width: 68px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	background: url("../../images/u3443.png") no-repeat 0px 0px;
}

#u3440.MuseMenuActive #u3443
{
	background: url("../../images/u3443-a.png") no-repeat 0px 0px;
}

.hidpi #u3443
{
	background-image: url("../../images/u3443_2x.png");
	background-size: 68px 22px;
}

.hidpi #u3440:active #u3443
{
	background-image: url("../../images/u3443-m_2x.png");
	background-size: 68px 22px;
}

.hidpi #u3440.MuseMenuActive #u3443
{
	background-image: url("../../images/u3443-a_2x.png");
	background-size: 68px 22px;
}

#u3444
{
	width: 68px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u3447
{
	width: 68px;
	background-color: transparent;
	padding-bottom: 3px;
	position: relative;
}

#u3452:active,#u3447.MuseMenuActive
{
	width: 68px;
	min-height: 0px;
	margin: 0px;
}

#u3449-4
{
	position: relative;
	margin-right: -10000px;
	top: 1px;
	left: 0px;
}

#u3449-4_clip
{
	overflow: hidden;
	width: 68px;
	height: 22px;
	vertical-align: top;
}

#u3449-4_img
{
	display: block;
}

#u3458
{
	width: 69px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u3459
{
	width: 69px;
	background-color: transparent;
	padding-bottom: 3px;
	position: relative;
}

#u3459:hover
{
	background-color: transparent;
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u3461
{
	height: 22px;
	width: 69px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	background: url("../../images/u3461.png") no-repeat 0px 0px;
}

#u3459.MuseMenuActive #u3461
{
	background: url("../../images/u3461-a.png") no-repeat 0px 0px;
}

.hidpi #u3461
{
	background-image: url("../../images/u3461_2x.png");
	background-size: 69px 22px;
}

.hidpi #u3459:active #u3461
{
	background-image: url("../../images/u3461-m_2x.png");
	background-size: 69px 22px;
}

.hidpi #u3459.MuseMenuActive #u3461
{
	background-image: url("../../images/u3461-a_2x.png");
	background-size: 69px 22px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u3465
{
	z-index: 130;
	width: 380px;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
}

#u3012
{
	z-index: 23;
	width: 380px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.25),0px 0px 4px rgba(0,0,0,0.25);
	background-color: transparent;
	margin-top: 11px;
	position: relative;
}

#u3012_clip
{
	overflow: hidden;
	width: 380px;
	height: 135px;
}

#u3024
{
	z-index: 18;
	width: 380px;
	background: transparent url("../../images/u3024-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)),color-stop(36%, rgba(198,156,109,0.2)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0) ,rgba(198,156,109,0.2) 36%);
	background: linear-gradient(to bottom,rgba(255,255,255,0) ,rgba(198,156,109,0.2) 36%);
	padding-bottom: 0px;
	margin-top: 12px;
	position: relative;
}

#u3024_position_content
{
	padding-top: 11px;
	padding-bottom: 21px;
}

#u3025-6
{
	z-index: 37;
	display: block;
	vertical-align: top;
	position: relative;
}

#pu3017
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 15px;
}

#u3017
{
	z-index: 27;
	width: 129px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3015
{
	z-index: 25;
	width: 129px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 173px;
}

#pu3019-4
{
	width: 0.01px;
	margin-left: 48px;
	margin-top: 1px;
}

#u3019-4
{
	z-index: 29;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u3020-4
{
	z-index: 33;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 173px;
}

#u3470
{
	z-index: 22;
	width: 339px;
	background-color: #DFD4D4;
	background-color: rgba(216,202,202,0.8);
	position: relative;
	padding: 10px 16px 28px 25px;
	-pie-background: rgba(216,202,202,0.8);
}

#u3031
{
	z-index: 43;
	width: 302px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.2),0px 0px 4px rgba(0,0,0,0.2);
	background-color: transparent;
	margin-left: 19px;
	position: relative;
}

#u3034-4
{
	z-index: 55;
	display: block;
	vertical-align: top;
	margin-left: 138px;
	margin-top: 18px;
	position: relative;
}

#u3048
{
	z-index: 70;
	width: 100px;
	height: 2px;
	background-color: #534741;
	margin-left: 115px;
	margin-top: 2px;
	position: relative;
}

#u3033-10
{
	z-index: 45;
	display: block;
	vertical-align: top;
	margin-top: 13px;
	position: relative;
}

#u3471
{
	z-index: 20;
	width: 339px;
	background-color: #EFD5C3;
	background-color: rgba(236,203,180,0.8);
	position: relative;
	padding: 33px 16px 24px 25px;
	-pie-background: rgba(236,203,180,0.8);
}

#u3039
{
	z-index: 59;
	width: 303px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.2),0px 0px 4px rgba(0,0,0,0.2);
	background-color: transparent;
	margin-left: 19px;
	position: relative;
}

#u3472-4
{
	z-index: 133;
	display: block;
	vertical-align: top;
	margin-left: 120px;
	margin-top: 20px;
	position: relative;
}

#u3473
{
	z-index: 137;
	width: 100px;
	height: 2px;
	background-color: #534741;
	margin-left: 115px;
	margin-top: 2px;
	position: relative;
}

#u3041-9
{
	z-index: 61;
	display: block;
	vertical-align: top;
	margin-top: 16px;
	position: relative;
}

#u3474
{
	z-index: 21;
	width: 339px;
	background-color: #EFEEAB;
	background-color: rgba(235,234,150,0.8);
	position: relative;
	padding: 38px 16px 26px 25px;
	-pie-background: rgba(235,234,150,0.8);
}

#u3050
{
	z-index: 71;
	width: 303px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.2),0px 0px 4px rgba(0,0,0,0.2);
	background-color: transparent;
	margin-left: 19px;
	position: relative;
}

#u3475-4
{
	z-index: 138;
	display: block;
	vertical-align: top;
	margin-left: 120px;
	margin-top: 20px;
	position: relative;
}

#u3476
{
	z-index: 142;
	width: 100px;
	height: 2px;
	background-color: #534741;
	margin-left: 115px;
	margin-top: 2px;
	position: relative;
}

#u3052-10
{
	z-index: 73;
	display: block;
	vertical-align: top;
	margin-top: 16px;
	position: relative;
}

#pu3477
{
	width: 0.01px;
	margin-top: -1px;
}

#u3477
{
	z-index: 19;
	min-height: 571px;
	background-color: #AAC29F;
	background-color: rgba(149,179,135,0.8);
	padding: 36px 16px 10px 25px;
	-pie-background: rgba(149,179,135,0.8);
}

#u3058
{
	z-index: 83;
	width: 302px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.2),0px 0px 4px rgba(0,0,0,0.2);
	background-color: transparent;
	border-radius: 2px;
	margin-left: 19px;
	position: relative;
}

#u3058 .clip_frame
{
	-webkit-border-radius: 2px 2px 2px 2px;
}

#u3478-4
{
	z-index: 143;
	display: block;
	vertical-align: top;
	margin-left: 120px;
	margin-top: 18px;
	position: relative;
}

#u3479
{
	z-index: 147;
	width: 100px;
	height: 2px;
	background-color: #534741;
	margin-left: 115px;
	margin-top: 3px;
	position: relative;
}

#u3060-12
{
	z-index: 85;
	display: block;
	vertical-align: top;
	margin-top: 14px;
	position: relative;
}

#u3616
{
	z-index: 149;
	width: 36px;
	background-color: transparent;
	margin-left: 149px;
	margin-top: 28px;
	position: relative;
}

#u3477-bw
{
	z-index: 19;
	min-height: 571px;
}

#u3618
{
	z-index: 151;
	width: 380px;
	height: 56px;
	position: relative;
	margin-right: -10000px;
	margin-top: 561px;
}

#pu2560
{
	width: 0.01px;
	margin-top: -2px;
}

#u2560
{
	z-index: 2;
	min-height: 96.69999999999982px;
	padding: 12px 14px 10.300000000000182px;
}

#u2561-4
{
	z-index: 3;
}

#u2563-4
{
	z-index: 13;
	margin-top: 48px;
}

#u2560-bw
{
	z-index: 2;
	min-height: 96.69999999999982px;
}

#u2562-6
{
	z-index: 7;
	margin-right: -10000px;
	margin-top: 31px;
	left: 14px;
}

#u2564
{
	z-index: 17;
	width: 157px;
	height: 30px;
	margin-right: -10000px;
	margin-top: 84px;
	left: 10px;
}

.ie #u3467,.ie #u3618,.ie #u2564
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

