.version.index /* version checker */
{
	color: #00001D;
	background-color: #05FE94;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 285px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 285px;
}

#pamphletu1413
{
	z-index: 4;
	width: 0.01px;
	height: 200px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
}

#u1414
{
	position: absolute;
	width: 380px;
}

#u1414popup
{
	z-index: 5;
}

#u1416
{
	z-index: 6;
	width: 380px;
	height: 214px;
	border-color: #999999;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../../images/large%20banner-u1416-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1416
{
	background-image: url("../../images/large%20banner-u1416-fr_2x.jpg");
}

#u1415
{
	z-index: 7;
	width: 380px;
	height: 214px;
	border-color: #999999;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../../images/fp-all.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1415
{
	background-image: url("../../images/fp-all_2x.jpg");
}

#u1417
{
	z-index: 8;
	width: 380px;
	height: 214px;
	border-color: #999999;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../../images/fp-girls.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1417
{
	background-image: url("../../images/fp-girls_2x.jpg");
}

#u1418
{
	z-index: 9;
	width: 380px;
	height: 214px;
	border-color: #999999;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../../images/fp-boys.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1418
{
	background-image: url("../../images/fp-boys_2x.jpg");
}

#u1421
{
	z-index: 10;
	width: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 158px;
}

#u1424
{
	position: absolute;
	width: 9px;
	height: 9px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	border-radius: 10px;
}

#u1424:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	width: 9px;
	height: 9px;
	min-height: 0px;
	margin: 0px;
}

#u1424.PamphletThumbSelected
{
	background-color: #6B6B6B;
	border-radius: 10px;
	width: 9px;
	height: 9px;
	min-height: 0px;
	margin: 0px;
}

#u1425
{
	position: absolute;
	width: 9px;
	height: 9px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	border-radius: 10px;
	left: 18px;
}

#u1425:hover
{
	background-color: #999999;
	width: 9px;
	height: 9px;
	min-height: 0px;
	margin: 0px;
}

#u1423
{
	position: absolute;
	width: 9px;
	height: 9px;
	background-color: #C4C4C4;
	border-radius: 10px;
	left: 36px;
}

#u1423:hover
{
	border-color: #000000;
	background-color: #999999;
	width: 9px;
	height: 9px;
	min-height: 0px;
	margin: 0px;
}

#u1422
{
	position: absolute;
	width: 9px;
	height: 9px;
	background-color: #C4C4C4;
	border-radius: 10px;
	left: 55px;
}

#u1422:hover
{
	border-color: #000000;
	background-color: #999999;
	width: 9px;
	height: 9px;
	min-height: 0px;
	margin: 0px;
}

#u1425.PamphletThumbSelected,#u1423.PamphletThumbSelected,#u1422.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	border-radius: 10px;
	width: 9px;
	height: 9px;
	min-height: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1411
{
	z-index: 2;
	width: 118px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 131px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

