#u2727:active #u2728
{
	background: url("../../images/u2728-m.png") no-repeat 0px 0px;
}

#u2743:active #u2746
{
	background: url("../../images/u2746-m.png") no-repeat 0px 0px;
}

#u2750:active #u2753
{
	background: url("../../images/u2753-m.png") no-repeat 0px 0px;
}

#u2755:active #u2757
{
	background: url("../../images/u2757-m.png") no-repeat 0px 0px;
}

.version.intro /* version checker */
{
	color: #000018;
	background-color: #E4A130;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 2740.999999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#pu2704
{
	width: 0.01px;
	margin-left: 43px;
}

#u2704
{
	z-index: 18;
	width: 126px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 84px;
}

#u3327
{
	z-index: 153;
	width: 317px;
	height: 9px;
	position: relative;
	margin-right: -10000px;
}

#introtop
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 239px;
}

#menuu2725
{
	z-index: 20;
	width: 349px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 15px;
	margin-top: 9px;
	position: relative;
}

#u2726
{
	width: 68px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2727
{
	width: 68px;
	background-color: transparent;
	padding-bottom: 3px;
	position: relative;
}

#u2727:hover
{
	background-color: transparent;
	width: 68px;
	min-height: 0px;
	margin: 0px;
}

#u2728
{
	height: 22px;
	width: 68px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	background: url("../../images/u2728.png") no-repeat 0px 0px;
}

#u2727.MuseMenuActive #u2728
{
	background: url("../../images/u2728-a.png") no-repeat 0px 0px;
}

.hidpi #u2728
{
	background-image: url("../../images/u2728_2x.png");
	background-size: 68px 22px;
}

.hidpi #u2727:active #u2728
{
	background-image: url("../../images/u2728-m_2x.png");
	background-size: 68px 22px;
}

.hidpi #u2727.MuseMenuActive #u2728
{
	background-image: url("../../images/u2728-a_2x.png");
	background-size: 68px 22px;
}

#u2733
{
	width: 68px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u2736
{
	width: 68px;
	background-color: transparent;
	padding-bottom: 3px;
	position: relative;
}

#u2727:active,#u2736.MuseMenuActive
{
	width: 68px;
	min-height: 0px;
	margin: 0px;
}

#u2738-4
{
	position: relative;
	margin-right: -10000px;
	top: 1px;
	left: 0px;
}

#u2738-4_clip
{
	overflow: hidden;
	width: 68px;
	height: 22px;
	vertical-align: top;
}

#u2738-4_img
{
	display: block;
}

#u2740
{
	width: 68px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u2743
{
	width: 68px;
	background-color: transparent;
	padding-bottom: 3px;
	position: relative;
}

#u2746
{
	height: 22px;
	width: 68px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	background: url("../../images/u2746.png") no-repeat 0px 0px;
}

#u2743.MuseMenuActive #u2746
{
	background: url("../../images/u2746-a.png") no-repeat 0px 0px;
}

.hidpi #u2746
{
	background-image: url("../../images/u2746_2x.png");
	background-size: 68px 22px;
}

.hidpi #u2743:active #u2746
{
	background-image: url("../../images/u2746-m_2x.png");
	background-size: 68px 22px;
}

.hidpi #u2743.MuseMenuActive #u2746
{
	background-image: url("../../images/u2746-a_2x.png");
	background-size: 68px 22px;
}

#u2747
{
	width: 68px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u2750
{
	width: 68px;
	background-color: transparent;
	padding-bottom: 3px;
	position: relative;
}

#u2743:hover,#u2750:hover
{
	background-color: transparent;
	width: 68px;
	min-height: 0px;
	margin: 0px;
}

#u2753
{
	height: 22px;
	width: 68px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	background: url("../../images/u2753.png") no-repeat 0px 0px;
}

#u2750.MuseMenuActive #u2753
{
	background: url("../../images/u2753-a.png") no-repeat 0px 0px;
}

.hidpi #u2753
{
	background-image: url("../../images/u2753_2x.png");
	background-size: 68px 22px;
}

.hidpi #u2750:active #u2753
{
	background-image: url("../../images/u2753-m_2x.png");
	background-size: 68px 22px;
}

.hidpi #u2750.MuseMenuActive #u2753
{
	background-image: url("../../images/u2753-a_2x.png");
	background-size: 68px 22px;
}

#u2754
{
	width: 69px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u2755
{
	width: 69px;
	background-color: transparent;
	padding-bottom: 3px;
	position: relative;
}

#u2755:hover
{
	background-color: transparent;
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u2757
{
	height: 22px;
	width: 69px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	background: url("../../images/u2757.png") no-repeat 0px 0px;
}

#u2755.MuseMenuActive #u2757
{
	background: url("../../images/u2757-a.png") no-repeat 0px 0px;
}

.hidpi #u2757
{
	background-image: url("../../images/u2757_2x.png");
	background-size: 69px 22px;
}

.hidpi #u2755:active #u2757
{
	background-image: url("../../images/u2757-m_2x.png");
	background-size: 69px 22px;
}

.hidpi #u2755.MuseMenuActive #u2757
{
	background-image: url("../../images/u2757-a_2x.png");
	background-size: 69px 22px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2767
{
	z-index: 52;
	width: 380px;
	background-color: transparent;
	left: -1px;
	margin-top: 5px;
	position: relative;
}

#u2787
{
	z-index: 51;
	width: 355px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(127,127,127,0.25),0px 0px 10px rgba(127,127,127,0.25);
	background-color: #F3EFDE;
	background-color: rgba(223,211,162,0.35);
	border-radius: 5px;
	padding-bottom: 11px;
	margin-left: 12px;
	margin-top: 16px;
	position: relative;
	-pie-background: rgba(223,211,162,0.35);
}

#pu2774
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 14px;
}

#u2774
{
	z-index: 56;
	width: 76px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#u2774:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #C1272D;
	border-radius: 100px;
	width: 76px;
	min-height: 0px;
	margin: -2px -2px -2px -1px;
}

#u2782-4
{
	z-index: 60;
	width: 79px;
	min-height: 15px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 6px;
	position: relative;
}

#pu2775
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 120px;
}

#u2775
{
	z-index: 58;
	width: 76px;
	background-color: transparent;
	margin-left: 14px;
	position: relative;
}

#u2775:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #C1272D;
	border-radius: 100px;
	width: 76px;
	min-height: 0px;
	margin: -2px -2px -2px 12px;
}

#u2785-4
{
	z-index: 64;
	width: 104px;
	min-height: 15px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 6px;
	position: relative;
}

#pu2773
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 241px;
}

#u2773
{
	z-index: 54;
	width: 76px;
	background-color: transparent;
	margin-left: 13px;
	position: relative;
}

#u2773:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #C1272D;
	border-radius: 100px;
	width: 76px;
	min-height: 0px;
	margin: -2px -2px -2px 11px;
}

#u2774:hover .clip_frame,#u2775:hover .clip_frame,#u2773:hover .clip_frame
{
	-webkit-border-radius: 100px 100px 100px 100px;
}

#u2786-4
{
	z-index: 68;
	width: 100px;
	min-height: 15px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 6px;
	position: relative;
}

#u2788
{
	z-index: 72;
	width: 321px;
	margin-top: 19px;
	position: relative;
	padding: 31px 47px 32px 12px;
	background: transparent url("../../images/stage%202.jpg") no-repeat center center;
	background-size: cover;
}

#u2792-6
{
	z-index: 73;
	width: 320px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 27px;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 1px;
	position: relative;
}

#u2793-4
{
	z-index: 79;
	width: 262px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 24px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 25px;
	position: relative;
}

#u2794
{
	z-index: 83;
	width: 316px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(127,127,127,0.41),0px 0px 5px rgba(127,127,127,0.41);
	background-color: #F3EFEA;
	background-color: rgba(199,178,153,0.2);
	border-radius: 2px;
	margin-left: 14px;
	margin-top: 19px;
	position: relative;
	padding: 18px 20px 20.265935139691237px 15px;
	-pie-background: rgba(199,178,153,0.2);
}

#u2795
{
	z-index: 84;
	width: 237px;
	background-color: transparent;
	margin-left: 37px;
	position: relative;
}

#u2798-7
{
	z-index: 86;
	width: 311px;
	min-height: 33px;
	background-color: transparent;
	line-height: 24px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 11px;
	position: relative;
}

#u2804
{
	z-index: 93;
	width: 293px;
	background-color: transparent;
	margin-left: 14px;
	margin-top: 8px;
	position: relative;
}

#u2810
{
	z-index: 95;
	width: 255px;
	background-color: transparent;
	margin-left: 28px;
	margin-top: 10px;
	position: relative;
}

#u2813-11
{
	z-index: 97;
	width: 312px;
	min-height: 33px;
	background-color: transparent;
	line-height: 24px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 4px;
	margin-top: 7px;
	position: relative;
}

#u2814
{
	z-index: 108;
	width: 351px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 5px;
	margin-left: 14px;
	margin-top: 19px;
	position: relative;
}

#u2814:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #FF0000;
	width: 351px;
	min-height: 0px;
	margin: 17px -2px -2px 12px;
}

#u2814 .clip_frame
{
	-webkit-border-radius: 5px 5px 5px 5px;
}

#u2814_clip
{
	overflow: hidden;
	width: 351px;
	height: 197px;
}

#u2814_img
{
	margin-top: -1px;
	margin-right: -3px;
	margin-bottom: -1px;
}

#pu2817-4
{
	width: 0.01px;
	margin-left: 18px;
	margin-top: 10px;
}

#u2817-4
{
	z-index: 110;
	width: 341px;
	min-height: 33px;
	background-color: transparent;
	line-height: 23px;
	font-size: 15px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 3px;
}

#u2818
{
	z-index: 114;
	width: 2px;
	height: 20px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2823
{
	z-index: 115;
	min-height: 618.8720588235296px;
	background-color: #FFF2FF;
	background-color: rgba(255,0,255,0.05);
	padding: 9px 28px 15.127941176470358px 26px;
	-pie-background: rgba(255,0,255,0.05);
}

#u2819
{
	z-index: 116;
	width: 159px;
	background-color: transparent;
	margin-left: 86px;
	position: relative;
}

#u2822-17
{
	z-index: 118;
	width: 326px;
	min-height: 173px;
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 5px;
	position: relative;
}

#u2823-bw
{
	z-index: 115;
	min-height: 618.8720588235296px;
	margin-top: 17px;
}

#page_position_content,#pu2829
{
	width: 0.01px;
}

#u2829
{
	z-index: 135;
	width: 380px;
	background-color: #F3EFEA;
	background-color: rgba(199,178,153,0.2);
	padding-bottom: 200px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(199,178,153,0.2);
}

#u2830-4
{
	z-index: 136;
	width: 296px;
	min-height: 49px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 14px;
}

#u2831
{
	z-index: 140;
	width: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
}

#pu2834
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 27px;
}

#u2834
{
	z-index: 142;
	width: 352px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 7px rgba(127,127,127,0.3),0px 0px 7px rgba(127,127,127,0.3);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
}

#u2834 .clip_frame
{
	-webkit-border-radius: 2px 2px 2px 2px;
}

#u2836
{
	z-index: 144;
	width: 17px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 257px;
}

#pu2838-6
{
	width: 0.01px;
	margin-left: 105px;
	margin-top: 16px;
}

#u2838-6
{
	z-index: 146;
	width: 252px;
	min-height: 15px;
	background-color: transparent;
	line-height: 22px;
	text-align: right;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u2839
{
	z-index: 152;
	width: 2px;
	height: 43px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	left: 254px;
}

#pu3624
{
	width: 0.01px;
	margin-top: 22px;
}

#u3624
{
	z-index: 155;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 174px;
}

#u3626
{
	z-index: 157;
	width: 380px;
	height: 56px;
	position: relative;
	margin-right: -10000px;
}

#pu2560
{
	width: 0.01px;
	margin-top: -2px;
}

#u2560
{
	z-index: 2;
	min-height: 95.70000000000027px;
	padding: 12px 14px 11.299999999999727px;
}

#u2561-4
{
	z-index: 3;
	width: 162px;
	min-height: 29px;
}

#u2563-4
{
	z-index: 13;
	width: 352px;
	min-height: 19px;
	margin-top: 48px;
}

#u2560-bw
{
	z-index: 2;
	min-height: 95.70000000000027px;
}

#u2562-6
{
	z-index: 7;
	width: 352px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 14px;
}

#u2564
{
	z-index: 17;
	width: 157px;
	height: 30px;
	margin-right: -10000px;
	margin-top: 84px;
	left: 10px;
}

.ie #u3327,.ie #u3626,.ie #u2564
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

