#u3084:active #u3085
{
	background: url("../../images/u3085-m.png") no-repeat 0px 0px;
}

#u3077:active #u3079
{
	background: url("../../images/u3079-m.png") no-repeat 0px 0px;
}

#u3091:active #u3093
{
	background: url("../../images/u3093-m.png") no-repeat 0px 0px;
}

#u3105:active #u3108
{
	background: url("../../images/u3108-m.png") no-repeat 0px 0px;
}

.version.medium /* version checker */
{
	color: #0000E6;
	background-color: #E5E86C;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 689px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-bottom: -4px;
	padding-top: 6px;
	width: 0.01px;
}

#u3071
{
	z-index: 16;
	width: 126px;
	background-color: transparent;
	margin-left: 127px;
	position: relative;
}

#menuu3073
{
	z-index: 18;
	width: 255px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 62px;
	margin-top: 2px;
	position: relative;
}

#u3081
{
	width: 49px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3084
{
	width: 49px;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
}

#u3084:hover
{
	background-color: transparent;
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u3084:active
{
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u3085
{
	height: 14px;
	width: 49px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	background: url("../../images/u3085.png") no-repeat 0px 0px;
}

#u3084.MuseMenuActive #u3085
{
	background: url("../../images/u3085-a.png") no-repeat 0px 0px;
}

.hidpi #u3085
{
	background-image: url("../../images/u3085_2x.png");
	background-size: 49px 14px;
}

.hidpi #u3084:active #u3085
{
	background-image: url("../../images/u3085-m_2x.png");
	background-size: 49px 14px;
}

.hidpi #u3084.MuseMenuActive #u3085
{
	background-image: url("../../images/u3085-a_2x.png");
	background-size: 49px 14px;
}

#u3102
{
	width: 49px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 51px;
}

#u3105
{
	width: 49px;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
}

#u3108
{
	height: 14px;
	width: 49px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	background: url("../../images/u3108.png") no-repeat 0px 0px;
}

#u3105.MuseMenuActive #u3108
{
	background: url("../../images/u3108-a.png") no-repeat 0px 0px;
}

.hidpi #u3108
{
	background-image: url("../../images/u3108_2x.png");
	background-size: 49px 14px;
}

.hidpi #u3105:active #u3108
{
	background-image: url("../../images/u3108-m_2x.png");
	background-size: 49px 14px;
}

.hidpi #u3105.MuseMenuActive #u3108
{
	background-image: url("../../images/u3108-a_2x.png");
	background-size: 49px 14px;
}

#u3088
{
	width: 49px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u3091
{
	width: 49px;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
}

#u3105:hover,#u3091:hover
{
	background-color: transparent;
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u3093
{
	height: 14px;
	width: 49px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	background: url("../../images/u3093.png") no-repeat 0px 0px;
}

#u3091.MuseMenuActive #u3093
{
	background: url("../../images/u3093-a.png") no-repeat 0px 0px;
}

.hidpi #u3093
{
	background-image: url("../../images/u3093_2x.png");
	background-size: 49px 14px;
}

.hidpi #u3091:active #u3093
{
	background-image: url("../../images/u3093-m_2x.png");
	background-size: 49px 14px;
}

.hidpi #u3091.MuseMenuActive #u3093
{
	background-image: url("../../images/u3093-a_2x.png");
	background-size: 49px 14px;
}

#u3074
{
	width: 50px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 153px;
}

#u3077
{
	width: 50px;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
}

#u3077:hover
{
	background-color: transparent;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u3079
{
	height: 14px;
	width: 50px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	background: url("../../images/u3079.png") no-repeat 0px 0px;
}

#u3077.MuseMenuActive #u3079
{
	background: url("../../images/u3079-a.png") no-repeat 0px 0px;
}

.hidpi #u3079
{
	background-image: url("../../images/u3079_2x.png");
	background-size: 50px 14px;
}

.hidpi #u3077:active #u3079
{
	background-image: url("../../images/u3079-m_2x.png");
	background-size: 50px 14px;
}

.hidpi #u3077.MuseMenuActive #u3079
{
	background-image: url("../../images/u3079-a_2x.png");
	background-size: 50px 14px;
}

#u3095
{
	width: 50px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 205px;
}

#u3096
{
	width: 50px;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
}

#u3096.MuseMenuActive
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u3098-4
{
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 0px;
}

#u3098-4_clip
{
	overflow: hidden;
	width: 50px;
	height: 14px;
	vertical-align: top;
}

#u3098-4_img
{
	display: block;
}

#u3109
{
	z-index: 49;
	width: 380px;
	background-color: transparent;
	margin-top: 3px;
	position: relative;
}

#u3114
{
	z-index: 51;
	width: 380px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.2),0px 0px 4px rgba(0,0,0,0.2);
	background-color: transparent;
	border-radius: 2px;
	margin-top: 11px;
	position: relative;
}

#u3307-4
{
	z-index: 160;
	display: block;
	vertical-align: top;
	margin-left: 26px;
	margin-top: 23px;
	position: relative;
}

#u3308
{
	z-index: 164;
	width: 107px;
	height: 1px;
	background-color: #8C6239;
	margin-left: 26px;
	margin-top: 1px;
	position: relative;
}

#slideshowu3117
{
	z-index: 53;
	width: 0.01px;
	height: 193px;
	margin-left: 26px;
	margin-top: 9px;
	position: relative;
}

#u3123
{
	position: absolute;
	width: 257px;
	height: 160px;
	background-color: transparent;
	top: 5px;
	left: 71px;
}

#u3123popup
{
	z-index: 54;
}

#u3128
{
	z-index: 55;
	width: 257px;
	height: 160px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u3128_img
{
	margin-left: -14px;
	margin-right: -14px;
}

#u3150
{
	z-index: 57;
	width: 257px;
	height: 160px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u3152
{
	z-index: 59;
	width: 257px;
	height: 160px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u3142
{
	z-index: 61;
	width: 257px;
	height: 160px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u3150_img,#u3142_img
{
	margin-top: -5px;
	margin-bottom: -4px;
}

#u3138
{
	z-index: 63;
	width: 257px;
	height: 160px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u3138_img
{
	margin-top: -8px;
	margin-bottom: -9px;
}

#u3132
{
	z-index: 65;
	width: 257px;
	height: 160px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u3124
{
	z-index: 67;
	width: 257px;
	height: 160px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u3124_img
{
	margin-top: -11px;
}

#u3146
{
	z-index: 69;
	width: 257px;
	height: 160px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u3158
{
	z-index: 71;
	width: 257px;
	height: 160px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u3126
{
	z-index: 73;
	width: 257px;
	height: 160px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u3126_img
{
	margin-top: -5px;
	margin-bottom: -5px;
}

#u3134
{
	z-index: 75;
	width: 257px;
	height: 160px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u3134_img
{
	margin-top: -8px;
	margin-bottom: -8px;
}

#u3148
{
	z-index: 77;
	width: 257px;
	height: 160px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u3148_img
{
	margin-top: -3px;
	margin-bottom: -4px;
}

#u3156
{
	z-index: 79;
	width: 257px;
	height: 160px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u3156_img
{
	margin-top: -3px;
	margin-bottom: -3px;
}

#u3136
{
	z-index: 81;
	width: 257px;
	height: 160px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u3136_img
{
	margin-top: -8px;
	margin-bottom: -7px;
}

#u3140
{
	z-index: 83;
	width: 257px;
	height: 160px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u3140_img
{
	margin-top: -1px;
	margin-bottom: -15px;
}

#u3154
{
	z-index: 85;
	width: 257px;
	height: 160px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u3154_img
{
	margin-top: -16px;
	margin-bottom: -17px;
}

#u3160
{
	z-index: 87;
	width: 257px;
	height: 160px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u3128 .clip_frame,#u3150 .clip_frame,#u3152 .clip_frame,#u3142 .clip_frame,#u3138 .clip_frame,#u3132 .clip_frame,#u3124 .clip_frame,#u3146 .clip_frame,#u3158 .clip_frame,#u3126 .clip_frame,#u3134 .clip_frame,#u3148 .clip_frame,#u3156 .clip_frame,#u3136 .clip_frame,#u3140 .clip_frame,#u3154 .clip_frame,#u3160 .clip_frame
{
	-webkit-border-radius: 5px 5px 5px 5px;
}

#u3160_img
{
	margin-top: -6px;
	margin-bottom: -6px;
}

#u3144
{
	z-index: 89;
	width: 257px;
	height: 160px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 2px;
	margin-right: -10000px;
	position: relative;
}

#u3130
{
	z-index: 91;
	width: 257px;
	height: 160px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.5);
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 2px;
	margin-right: -10000px;
	position: relative;
}

#u3114 .clip_frame,#u3144 .clip_frame,#u3130 .clip_frame
{
	-webkit-border-radius: 2px 2px 2px 2px;
}

#u3128_clip,#u3150_clip,#u3152_clip,#u3142_clip,#u3138_clip,#u3132_clip,#u3124_clip,#u3146_clip,#u3158_clip,#u3126_clip,#u3134_clip,#u3148_clip,#u3156_clip,#u3136_clip,#u3140_clip,#u3154_clip,#u3160_clip,#u3144_clip,#u3130_clip
{
	overflow: hidden;
	width: 257px;
	height: 160px;
}

#u3132_img,#u3146_img,#u3158_img,#u3144_img,#u3130_img
{
	margin-top: -6px;
	margin-bottom: -5px;
}

#u3164
{
	position: absolute;
	width: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 3px;
}

#u3164popup
{
	z-index: 93;
}

#u3177
{
	z-index: 94;
	width: 18px;
	height: 10px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u3195
{
	z-index: 96;
	width: 18px;
	height: 10px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 29px;
}

#u3177.SSSlideLinkSelected,#u3195.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 18px;
	height: 10px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3171
{
	z-index: 98;
	width: 18px;
	height: 10px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 1px;
}

#u3171_img
{
	margin-top: -1px;
}

#u3169
{
	z-index: 100;
	width: 18px;
	height: 10px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 29px;
}

#u3171.SSSlideLinkSelected,#u3169.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 18px;
	height: 10px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
}

#u3193
{
	z-index: 102;
	width: 18px;
	height: 10px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 1px;
}

#u3165
{
	z-index: 104;
	width: 18px;
	height: 10px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 29px;
}

#u3193.SSSlideLinkSelected,#u3165.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 18px;
	height: 10px;
	min-height: 0px;
	margin: 40px -10000px 0px 0px;
}

#u3175
{
	z-index: 106;
	width: 18px;
	height: 10px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 1px;
}

#u3185
{
	z-index: 108;
	width: 18px;
	height: 10px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 29px;
}

#u3175.SSSlideLinkSelected,#u3185.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 18px;
	height: 10px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u3173
{
	z-index: 110;
	width: 18px;
	height: 10px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 1px;
}

#u3201
{
	z-index: 112;
	width: 18px;
	height: 10px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 29px;
}

#u3173.SSSlideLinkSelected,#u3201.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 18px;
	height: 10px;
	min-height: 0px;
	margin: 80px -10000px 0px 0px;
}

#u3181
{
	z-index: 114;
	width: 18px;
	height: 10px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 1px;
}

#u3189
{
	z-index: 116;
	width: 18px;
	height: 10px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 29px;
}

#u3181.SSSlideLinkSelected,#u3189.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 18px;
	height: 10px;
	min-height: 0px;
	margin: 100px -10000px 0px 0px;
}

#u3183
{
	z-index: 118;
	width: 18px;
	height: 10px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 1px;
}

#u3179
{
	z-index: 120;
	width: 18px;
	height: 10px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 29px;
}

#u3183.SSSlideLinkSelected,#u3179.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 18px;
	height: 10px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u3167
{
	z-index: 122;
	width: 18px;
	height: 10px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 1px;
}

#u3199
{
	z-index: 124;
	width: 18px;
	height: 10px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 29px;
}

#u3167.SSSlideLinkSelected,#u3199.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 18px;
	height: 10px;
	min-height: 0px;
	margin: 140px -10000px 0px 0px;
}

#u3197
{
	z-index: 126;
	width: 18px;
	height: 10px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 1px;
}

#u3191
{
	z-index: 128;
	width: 18px;
	height: 10px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 29px;
}

#u3197.SSSlideLinkSelected,#u3191.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 18px;
	height: 10px;
	min-height: 0px;
	margin: 160px -10000px 0px 0px;
}

#u3187
{
	z-index: 130;
	width: 18px;
	height: 10px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 1px;
}

#u3187.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 18px;
	height: 10px;
	min-height: 0px;
	margin: 180px -10000px 0px 0px;
}

#u3195_clip,#u3171_clip,#u3169_clip,#u3193_clip,#u3165_clip,#u3175_clip,#u3185_clip,#u3173_clip,#u3201_clip,#u3181_clip,#u3189_clip,#u3183_clip,#u3179_clip,#u3167_clip,#u3197_clip,#u3191_clip,#u3187_clip
{
	overflow: hidden;
	width: 18px;
	height: 10px;
}

#u3195_img,#u3169_img,#u3193_img,#u3165_img,#u3175_img,#u3185_img,#u3173_img,#u3201_img,#u3181_img,#u3189_img,#u3183_img,#u3179_img,#u3167_img,#u3197_img,#u3191_img,#u3187_img
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u3120-14
{
	position: absolute;
	width: -13px;
	min-height: 140px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.2);
	border-radius: 2px 0px 0px 2px ;
	padding: 10px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 5px;
	left: 71px;
	-pie-background: rgba(255,255,255,0.2);
}

#u3120-14popup
{
	z-index: 132;
}

#u3120,#u3120-2,#u3120-3,#u3120-4,#u3120-5,#u3120-6,#u3120-7,#u3120-8,#u3120-9,#u3120-10
{
	line-height: 20px;
}

#u3121-14
{
	position: absolute;
	width: -13px;
	min-height: 140px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.2);
	border-radius: 0px 2px 2px 0px ;
	padding: 10px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 5px;
	left: 321px;
	-pie-background: rgba(255,255,255,0.2);
}

#u3121-14popup
{
	z-index: 146;
}

#u3121,#u3121-2,#u3121-3,#u3121-4,#u3121-5,#u3121-6,#u3121-7,#u3121-8,#u3121-9,#u3121-10
{
	line-height: 20px;
	color: #999999;
}

#u3120-12,#u3121-12
{
	font-size: 24px;
	line-height: 34px;
	color: #FFFFFF;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u3309-4
{
	z-index: 165;
	display: block;
	vertical-align: top;
	margin-left: 26px;
	margin-top: 13px;
	position: relative;
}

#u3310
{
	z-index: 169;
	width: 107px;
	height: 1px;
	background-color: #8C6239;
	margin-left: 26px;
	margin-top: 1px;
	position: relative;
}

#pu3317
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 10px;
}

#u3317
{
	z-index: 170;
	width: 138px;
	height: 76px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(127,127,127,0.5),0px 0px 5px rgba(127,127,127,0.5);
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/anniversary-u3317-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u3317
{
	background-image: url("../../images/anniversary-u3317-fr_2x.jpg");
}

#u3318
{
	z-index: 171;
	width: 138px;
	height: 76px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(127,127,127,0.5),0px 0px 5px rgba(127,127,127,0.5);
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	left: 185px;
	background: transparent url("../../images/dscf3401-u3318-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3317:hover,#u3318:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-width: 3px;
	border-style: solid;
	border-color: #F15A24;
	width: 135px;
	height: 73px;
	min-height: 0px;
	margin: -1px -10002px -2px -1px;
	background-size: cover;
}

.hidpi #u3318
{
	background-image: url("../../images/dscf3401-u3318-fr_2x.jpg");
}

#pu3319
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 3px;
}

#u3319
{
	z-index: 172;
	width: 1px;
	height: 10px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
}

#u3320-4
{
	z-index: 173;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u3321
{
	z-index: 177;
	width: 1px;
	height: 10px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u3322-4
{
	z-index: 178;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 186px;
}

#pu2560
{
	width: 0.01px;
	margin-top: 11px;
}

#u2560
{
	z-index: 2;
	min-height: 36px;
	padding-bottom: 29px;
}

#u2561-4
{
	z-index: 3;
	margin-right: -10000px;
	margin-top: 7px;
	left: 14px;
}

#u2560-bw
{
	z-index: 2;
	min-height: 36px;
}

#u2562-4
{
	z-index: 7;
	margin-right: -10000px;
	margin-top: 22px;
	left: 14px;
}

#u2563-4
{
	z-index: 11;
	margin-right: -10000px;
	margin-top: 42px;
	left: 14px;
}

#u2564
{
	z-index: 15;
	width: 157px;
	height: 19px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 6px;
}

.ie #u2564
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

